---
permalink: blogs/
eleventyNavigation:
    key: BLOGS
    order: 400
language: EN
metaDescription: description goes here
metaCanonical: canonical
metaTitle: Blogs
manifestLanguage: english
---


<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "metaTags.html" %}
        {% block pageCSS %}
        <link rel="stylesheet" href="/assets/css/blogSection.css">
        {% endblock %}
        {% include "prefetch.html" %}
    </head>
    <body style="background-color: #F7F8FF">
        {% include "english layouts/navbarEN.html" %}
        <main>
            {% include "languageSwitch.html" %}
            <section id="blog-1347">
                <div class="cs-container">
                    <div class="cs-content">
                        <h2 class="cs-title">Check out all our articles</h2>
                        <p class="cs-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis quam eu elit lobortis ultrices. Nulla ut accumsan lorem, sed molestie justo. Praesent vehicula eleifend.
                        </p>
                    </div>
                    {% if collections.post | length == 0 %}
                        <h1 style="font-size: 3rem; color: #2f6158; margin-top: 2rem; margin-bottom: 10rem; font-weight: 500; text-align: center; line-height: 4rem;">No Recent Posts<br><span style="font-size: 1.5rem; font-weight: 300; color: #101010">Please check later</span></h1>
                    {% else %}
                    <ul class="cs-card-group">           
                            {%- for post in collections.post | reverse -%}
                                <li class="cs-item">
                                    <article>
                                        <a class="cs-link" href="{{ post.url }}">
                                            <picture class="cs-picture">
                                                <img decoding="async"
                                                    src="{{ post.data.thumbnail}}"
                                                    alt="agency" width="413" height="374" aria-hidden="true">
                                            </picture>
                                            <div class="cs-item-text">
                                                <h3 class="cs-h3">
                                                    {{ post.data.title }}
                                                    <picture class="cs-icon-wrapper">
                                                        <img class="cs-icon" decoding="async"
                                                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                                                alt="arrow" width="413" height="374" aria-hidden="true">
                                                    </picture>
                                                </h3>
                                                <div class="cs-info">
                                                    <span class="cs-date">
                                                        
                                                        <img class="cs-date-icon" decoding="async"
                                                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-calendar.svg"
                                                                alt="calendar" width="413" height="374" aria-hidden="true">
                                                                {{ post.date | postDate }}
                                                    </span>
                                                    <span class="cs-category">
                                                        
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                            {%- endfor -%}
                        {% endif %}
                    </ul>
                </div>
                <div class="cs-bubbles" aria-hidden="true"></div>
            </section>
        </main>
        {% include "english layouts/footerEN.html" %}
    </body>
</html>