@import url(/assets/css/root.css);

@media screen and (min-width: 0px) {
    #faq {
        min-height: 700px;
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    #faq .container {
        width: 100%;
        max-width: 1024px;
        height: max-content;
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
        flex-direction: column;
    }
    
    #faq .question-mark-container {
        display: flex;
        position: relative;
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: center;
    }

    #faq .question-mark-container .blob1 {
        width: 80px;
        height: 80px;
        margin-top: -20%;
        position: relative;
        transform: translate(0%,15%);
        background-color: hsl(120, 100%, 25%);
        filter: blur(40px) saturate(2);
        border-radius: 50px;
        animation: blobMovement 20s linear 0s infinite alternate;
    }

    #faq #blob-container {
        display: none;
        position: absolute;
        z-index: -1;
        width: 100%;
        left: 38%;
    }

    #faq .question-mark-container img {
        aspect-ratio: 7/8;
        width: 100%;
        height: auto;
        position: relative;
        backdrop-filter: hue-rotate(20deg) blur(50px) saturate(5);
        clip-path: url(#myClip);
    }
    
    #faq .questions-container {
        display: flex;
        width: 100%;
        height: max-content;
        flex-direction: column;
        margin-bottom: 32px;
    }
    
    #faq .title {
        font-size: clamp(2.5rem, 4vw, 3rem);
        text-align: center;
        color: var(--blue-color-shade-7);
        font-weight: 600;
        margin-bottom: 6rem;
        margin-top: 28px;
        letter-spacing: -1.5px;
    }
    
    #faq .question-wrapper {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 0.5rem;
        width: calc(100% - 32px);
        height: fit-content;
        margin-bottom: 3rem;
    }
    
    #faq .question-wrapper::before {
        display: flex;
        content: '';
        width: calc(100% + 32px);
        margin-bottom: calc(-2rem - 16px);
        height: 2px;
        margin-left: -16px;
        background-color: lightgray;
        position: relative;
    }
    
    #faq .question {
        font-size: 1rem;
        font-weight: 600;
        color: rgba(0,0,0,0.8);
        letter-spacing: 1px;
        transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    
    #faq .answer-reveal .question {
        color: var(--secondary-green-color);
    }
    
    #faq .answer {
        margin-top: -0.6rem;
        padding-top: 1.5rem;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: -16px;
        color: rgb(68, 68, 68);
        width: 100%;
        padding-bottom: 2rem;
        background-color: #F1F2FA;
        display: none;
        font-weight: 400;
    }
    
    #faq .answer-reveal .answer {
        display: flex;
    }
    
    #faq .question-container {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    #faq .question-syringe {
        height: 1.5rem;
        width: 1.5rem;
        fill: var(--primary-blue-color);
    }
    
    #faq .question-svg-icon {
        height: 1.4rem;
        width: 1.4rem;
    }
    
    #faq .question-svg-icon #layer1 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #path1049 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #path1051 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #path1053 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #path1055 {
        transition: all 0.25s linear;
    }
    
    #faq .question-svg-icon #path1059 {
        transition: all 0.25s linear;
    }
    
    #faq .question-svg-icon #path1061 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #path1063 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #path1065 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #path1067 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #path1069 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #path1065 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #square3 {
        transition: fill 0.25s linear, x 0.25s linear, y 0.25s linear;
    }
    
    #faq .question-svg-icon #square2 {
        transition: fill 0.25s linear, x 0.25s linear, y 0.25s linear;
    }
    
    #faq .question-svg-icon #square1 {
        transition: fill 0.25s linear, x 0.25s linear, y 0.25s linear;
    }
    
    #faq .question-svg-icon #measurement1 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #measurement2 {
        transition: fill 0.25s linear;
    }
    
    #faq .answer-reveal .question-svg-icon #layer1 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1049 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1051 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1053 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1055 {
        transform: translate(3px,3px);
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1059 {
        transform: translate(3px,3px);
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1061 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1063 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1065 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1067 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1069 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1065 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #square3 {
        x: 176px;
        y: 0px;
        fill: #ffffff !important;
    }
    
    #faq .answer-reveal .question-svg-icon #square2 {
        x: 176px;
        y: -20px;
        fill: #ffffff !important;
    }
    
    #faq .answer-reveal .question-svg-icon #square1 {
        x: 175px;
        fill: #ffffff !important;
    }
    
    #faq .answer-reveal .question-svg-icon #circle {
        animation: circleAnimation 0.25s linear 0s 1 normal both;
    }
    
    @keyframes circleAnimation {
        0%{ transform: translate(0,0); }
        100%{ transform: translate(-41px,42px); }
    }
    
    #faq .answer-reveal .question-svg-icon #measurement1 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #measurement2 {
        fill: #438A7E !important;
    }
}