@media only screen and (min-width: 768px) {
    .bio {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 2fr));
        justify-content: center;
        column-gap: 50px;
        max-width: 1280px;
    }
    
    .bio-item {
        row-gap: 20px;
        width: 300px;
        height: 300px;
        padding:20px;
        justify-self: center;
    }
}