@import url(/assets/css/root.css);

@media only screen and (min-width: 0px) {
    #members {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 50px;
        padding-top: 100px;
    }

    #members h1{
        font-size: 2rem;
    }

    #company2 h1{
        font-size: 2rem;
    }

    
    .about_the_company{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        row-gap: 50px;
        width: 60%;
        text-align: center;
        font-size: 1.2rem;
    }

    .about_the_member img {
        width: 200px;
    }

    .moreabout {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    #company {
        display: none;
    }

    #company2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 50px;
        padding-top: 200px;
        padding-bottom: 100px;
    }

    .about_the_company {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        row-gap: 50px;
        width: 60%;
        text-align: justify;
        font-size: 1.2rem;
    }

    .about_the_member {
        display:flex;
        padding:10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
        width:60%;
    }
    .about_the_member h2{
        text-align: center;
    }

    .about_the_company p {
        font-size: 1.5rem;
    }
}