@media only screen and (min-width: 1024px) {
    .about_the_member {
        flex-direction: column;
        padding: 20px;
        column-gap: 50px;
        text-align: left;
    }

    .about_the_company {
        flex-direction: row !important;
        font-size: 1.5rem;
    }

    .about_the_member img {
        width: 80%;
        aspect-ratio: 1/1;
        max-width: 300px;
        border-radius: 50%; 
        object-fit: cover; 
    }
}