@media only screen and (min-width: 0px) {
    #members {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px; 
        padding: 50px 10px; 
    }

    #members .container {
        width: 100%;
        max-width: 1280px;
        display: flex;
        flex-direction: column;
    }

    #members h1 {
        font-size: clamp(2.5rem, 4vw, 3rem);
        text-align: center;
        color: var(--blue-color-shade-7);
        font-weight: 600;
        margin-bottom: 4rem;
        margin-top: 28px;
        letter-spacing: -1.5px;
        width: 100%;

        opacity: 0;
        transform: translateY(-100px);
        transition: all 1s cubic-bezier(.18,.54,.55,1)
    }

    #members h1.show {
        opacity: 1;
        transform: translateY(0px);
    }
    
    .about_the_company {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;
        row-gap: 50px;
        width: 100%;
        text-align: center;
        font-size: clamp(1rem, 2vw, 1.2rem);
        margin: 48px 0px;
        gap: 24px;
    }

    #company .wrapper {
        padding: 0px 24px;
    }

    #company .about_the_company:first-child {
        margin-top: 0px;
        flex-direction: column-reverse;
    }

    #company .about_the_company:nth-child(3) {
        flex-direction: column-reverse;
    }

    .about_the_member img {
        width: 80%;
        aspect-ratio: 1/1;
        max-width: 300px;
        border-radius: 50%; 
        object-fit: cover;
    }
    
    .moreabout {
        text-align: center;
        width: 100%; 
    }
    
    .moreabout h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    
    .moreabout p {
        font-size: clamp(0.8rem, 4vw, 1rem);
        text-align: left;
    }

    .about_the_member {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-self: center;
        width: 90%;
        padding: 20px;
        gap: 15px;
        max-width: none; 
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        background: #fff;
        border-radius: 15px;
        overflow: hidden;

        opacity: 0;
        transition: transform 0.2s, opacity 1s cubic-bezier(.18,.54,.55,1); 
    }

    .about_the_member.show {
        opacity: 1;
    }

    #members .grid_wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .about_the_member:hover {
        transform: translateY(-5px); 
    }

    .about_the_member h2 {
        text-align: center;
    }

    .about_the_company p {
        font-size: clamp(1rem, 2vw, 1.5rem);
        line-height: clamp(1.5rem, 3vw, 2rem);
        text-align: justify;
        hyphens: auto;

        opacity: 0;
        transform: translateY(100px);
        transition: all 1s cubic-bezier(.18,.54,.55,1) 0.25s;
    }

    .about_the_company.show p {
        opacity: 1;
        transform: translateY(0px);
    }

    #company img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #company picture {
        width: 100%;
        max-width: 400px;
        min-width: 200px;

        opacity: 0;
        transform: translateY(100px);
        transition: all 1s cubic-bezier(.18,.54,.55,1);
    }

    #company .show picture {
        opacity: 1;
        transform: translateY(0px);
    }

    #company {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #company .container {
        width: 100%;
        max-width: 1024px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0px 24px;
    }

    #company h1 {
        font-size: clamp(2.5rem, 4vw, 3rem);
        text-align: center;
        color: var(--blue-color-shade-7);
        font-weight: 600;
        margin-bottom: 4rem;
        margin-top: 48px;
        letter-spacing: -1.5px;
        width: 100%;

        opacity: 0;
        transform: translateY(-100px);
        transition: all 1s cubic-bezier(.18,.54,.55,1);
    }

    #company h1.show {
        opacity: 1;
        transform: translateY(0px);
    }
}