@media only screen and (min-width: 768px) {
    main{
        padding-top: 64px;
    }
    nav {
        display: flex;
        position: fixed;
        background-color: white;
    }

    main {
        padding-top: 64px;
    }

    #nav-bar {
        position: fixed;
        height: 64px;
        width: 100vw;
        z-index: 10000;
    }

    #nav-bar .container-links {
        width: 100%;
        max-width: 1024px;
        height: fit-content;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: 50px;
    }

    #nav-bar #mobile {
        display: none;
    }

    #nav-bar nav {
        display: flex;
        width: 100%;
        justify-content: center;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    }

    #nav-bar #wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        height: 64px;
        list-style: none;
        align-items: center;
    }

    #nav-bar .link a {
        font-size: clamp(0.5rem, 1.5vw, 1.1rem);
        text-decoration: none;
        color: var(--black-text-color);
        font-weight: 600;
        letter-spacing: 2px;
        text-underline-offset: 4px;
        transform: scale(1);
        transition: all 0.2s ease-in-out;
        user-select: none;
    }

    #nav-bar .link:hover a {
        color: var(--primary-blue-color);
    }

    #nav-bar .link.active a {
        text-decoration: underline;
        color: var(--primary-blue-color);
        text-decoration-thickness: 3px;
    }

    #nav-bar .link a .lastletter {
        letter-spacing: 0px;
    }

    #nav-bar .link:active {
        animation: click-link 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s 1 alternate;
    }

    #nav-bar .link:hover {
        cursor: pointer;
    }

    #nav-bar .link {
        padding: 16px;
    }

    #nav-bar .link:nth-child(1) {
        padding-left: 8px;
    }

    #nav-bar .link:last-child {
        padding-right: 8px;
    }

    @keyframes click-link {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.1);
        }
    }

    #nav-bar li img {
        height: 48px;
        width: auto;
        margin-top: 4px;
    }
}