@media only screen and (min-width: 768px) {
    #offers {
        margin-top: -24px;
        width: 100%;
        height: 468px;
    }
    
    #offers .container {
        padding-left: 24px;
        padding-right: 48px;
        flex-direction: row;
    }
    
    #offers .content {
        width: 50%;
        height: 100%;
        justify-content: flex-end;
        padding-right: 24px;
        align-items: flex-start;
    }
    
    #offers .offer-highlighted {
        width: 50%;
        height: 100%;
        justify-content: flex-start;
        flex-direction: column-reverse;
        top: 4px;
    }
    
    #offers .title {
        justify-content: flex-start;
        translate: 0;
        transform: translateY(0px) translateX(-250px);
    }

    #offers .show .title {
        transform: translateX(0px);
    }
    
    #offers .description {
        width: 55ch;
        margin-top: 32px;
        justify-content: flex-start;

        transform: translateX(-250px);
        filter: blur(10px);
        transition: transform 1.1s cubic-bezier(.18,.54,.55,1) 0.2s, filter 1.1s cubic-bezier(.18,.54,.55,1) 0.2s, opacity 0.175s ease-in-out;
    }

    #offers .show .description {
        transform: translateX(0px);
        filter: blur(0px);
    }
    
    #offers .offers-wrapper {
        position: relative;
        width: 100%;
        margin-top: 96px;
        height: fit-content;
    }
    
    #offers .offers-wrapper img {
        width: 100%;
        height: auto;
    }
    
    #offers .layer {
        width: 100%;
    }
    
    #offers .layer1 {
        height: 100px;
    }
    
    #offers .offer-highlighted .img {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        position: absolute;
        width: 100%;
        max-width: 460px;
        box-shadow: 0px 0px 5px 0px rgb(29, 29, 29, 0.1);
    }

    #offers .offer-highlighted {
        opacity: 0;
        filter: blur(5px);
        transition: opacity 1s cubic-bezier(.18,.54,.55,1), filter 1s cubic-bezier(.18,.54,.55,1);
    }

    #offers .show .offer-highlighted {
        opacity: 1;
        filter: blur(0px);
    }
}