@media screen and (min-width: 768px) {
    #faq {
        margin-top: 128px;
        min-height: 700px;
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #faq #blob-container {
        display: flex;
    }

    @keyframes blobMovement {
        0% {
            background-color: hsl(115, 100%, 25%);
            transform: rotate(0deg) translate(-80%,-90%);
            backdrop-filter: saturate(5);
        }
        5% {
            transform: translate(-68%,-100%);
        }
        10% {
            background-color: hsl(100, 100%, 25%);
            transform: translate(-50%,-110%);
        }
        15% {
            transform: translate(-45%,-110%);
        }
        20% {
            background-color: hsl(90, 100%, 25%);
            transform: translate(-35%,-115%);
        }
        25% {
            transform: translate(-10%,-115%);
        }
        30% {
            background-color: hsl(90, 100%, 25%);
            transform: translate(-5%,-120%);
        }
        35% {
            transform: translate(45%,-120%);
        }
        40% {
            background-color: hsl(100, 100%, 25%);
            transform: translate(60%,-110%);
        }
        45% {
            transform: translate(70%,-90%);
        }
        50% {
            background-color: hsl(115, 100%, 25%);
            transform: translate(90%,-40%);
            backdrop-filter: saturate(8);
        }
        55% {
            transform: translate(90%,0%);
        }
        60% {
            background-color: hsl(130, 100%, 25%);
            transform: translate(70%,10%);
        }
        70% {
            background-color: hsl(140, 100%, 25%);
            transform: translate(60%,15%);
        }
        75% {
            transform: translate(55%,20%);
        }
        80% {
            background-color: hsl(140, 100%, 25%);
            transform: translate(50%,60%);
        }
        90% {
            background-color: hsl(130, 100%, 25%);
            transform: translate(10%,70%);
        }
        100% {
            background-color: hsl(115, 100%, 25%);
            transform: rotate(360deg) translate(0%,80%);
            backdrop-filter: saturate(5);
        }
    }
    
    #faq .container {
        width: 100%;
        max-width: 1024px;
        height: 100%;
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
        flex-direction: row;
    }
    
    #faq .question-mark-container {
        display: flex;
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    #faq .question-mark-container img {
        width: 80%;
        height: auto;
        min-width: 355px;
        min-height: 450px;
        max-height: 700px;
    }
    
    #faq .questions-container {
        display: flex;
        width: 50%;
        height: 100%;
        flex-direction: column;
    }
    
    #faq .title {
        font-size: 3rem;
        text-align: center;
        font-weight: 600;
        margin-bottom: 64px;
        margin-top: 28px;
    }
    
    #faq .answer {
        margin-top: -0.6rem;
        padding-top: 1.5rem;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: -16px;
        color: rgb(68, 68, 68);
        width: 100%;
        padding-bottom: 2rem;
        background-color: #F1F2FA;
        display: none;
    }
}