@media only screen and (min-width: 48.01rem) {
    #language-settings-container {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      position: fixed;
      width: fit-content;
      float: left;
      left: calc(50% - clamp(0px, 50%, 700px));
      bottom: 8vh;
      z-index: 100;
      overflow: visible;
      user-select: none;
    }
  
    #language-svg-container {
      width: 60px;
      position: relative;
      aspect-ratio: 1/1;
      background-color: rgb(234, 234, 234);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
      transform: scale(1);
      transition: all 0.7s cubic-bezier(0.215, 0.610, 0.355, 1);
      will-change: transform;
      
    }
    
    #language-svg-container:hover {
      box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
      transform: scale(1.05);
    }
  
    #language-svg {
      width: 30px;
      height: 30px;
    }
  
    #flag-container {
      display: flex;
      flex-direction: column;
      width: 100px;
      height: 0px;
      overflow: hidden;
      justify-content: center;
      background-color: rgb(234, 234, 234);
      position: relative;
      bottom: 10px;
      border-radius: 10px;
      box-shadow: 0 0 0 0 black;
      transition: height 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    
    #flag-container.visible {
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
      height: 190px;
    }
  
    #language-settings-container span {
      text-align: center;
      color: black;
      font-weight: 400;
      margin-top: 16px;
    }
  
    #flag-svg-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 90px;
      width: 100px;
      align-content: center;
      justify-items: center;
      margin-bottom: -8px;
    }
  
    #greek-flag {
      object-fit: cover;
      width: 40px;
      height: 40px;
      display: flex;
      overflow: hidden;
      border-radius: 50px;
      object-position: 0px 0;
      cursor: pointer;
      box-shadow: 0 0 0 0 black;
      transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    
    #greek-flag-container:hover #greek-flag {
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    }
  
    #greek-flag-container {
      display: flex;
      width: 50px;
      height: 90px;
      overflow: visible;
      align-items: center;
      justify-content: center;
      transform: scale(1);
      transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
      cursor: pointer;
      will-change: transform;
      
    }
    
    #greek-flag-container:hover {
      transform: scale(1.05);
    }
  
    #uk-flag {
      object-fit: cover;
      width: 40px;
      height: 40px;
      display: flex;
      overflow: hidden;
      border-radius: 50px;
      object-position: -20px 0;
      cursor: pointer;
      box-shadow: 0 0 0 0 black;
      transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    
    #uk-flag-container:hover #uk-flag {
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    }
  
    #uk-flag-container {
      display: flex;
      width: 50px;
      height: 90px;
      overflow: visible;
      align-items: center;
      justify-content: center;
      transform: scale(1);
      transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
      cursor: pointer;
      will-change: transform;
      
    }
    
    #uk-flag-container:hover {
      transform: scale(1.05);
    }
  }