@media only screen and (min-width: 1024px) {
    .services-section-block {
        flex-direction: row;
        column-gap: 50px;
        border-radius: 60px;
        padding-left:60px;
        padding-right:60px;
        width:55vw;
        height:30vh;
        position:relative;
        top:-10vh;
        left:20vw;
    }

    .services-section-block .text-content {
        width:30%;
        row-gap: 40px;
    }

    .services-section-block .text-content h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .services-section-block .text-content {
        width: 25%;
    }
}