@media only screen and (min-width: 0px) {
    .services-section-block {
        background-color: white;
        display:flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        row-gap: 50px;
        border-radius: 60px;
        padding:20px;
        width:70vw;
        height:40vh;
        position:relative;
        top:-10vh;
        left:10vw;
    }
    
    .services-section-block .text-content h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
}