@media only screen and (min-width: 0px) {
    .services-section-block {
        display: flex;
        height: 400px;
        position: relative;
        top: -150px;
        margin-bottom: -100px;
        display: flex;
        justify-content: center;

        opacity: 0;
        filter: blur(5px);
        transition: opacity 0.7s cubic-bezier(.18,.54,.55,1) 0.5s, filter 0.7s cubic-bezier(.18,.54,.55,1) 0.5s;
    }

    .services-section-block.show {
        opacity: 1;
        filter: blur(0px);
    }

    .services-section-block .container {
        width: 100%;
        max-width: 1024px;
        height: 100%;
        background-color: white;
        display: flex;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        flex-direction: column;
    }

    .services-section-block .text-content {
        width: 100%;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 24px 0px 0px 0px;
    }

    .services-section-block .text-content h2 + span {
        padding: 0px 24px;
    }

    .services-section-block span {
        text-align: center;
    }

    .services-section-block .carousel-container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .services-section-block .arrows-wrapper {
        width: 100%;
        position: absolute;
        display: none;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }

    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }

    .services-section-block .arrows-wrapper img {
        width: 24px;
        height: auto;
        padding: 8px;
    }

    .carousel-wrapper {
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        height: 305px;
        width: 80%;
        overflow: hidden;
    }

    .card {
        background-color: rgb(122, 122, 122);
        display: flex;
        color: black;
        font-weight: 600;
        align-items: center;
        width: 100%;
        max-width: 300px;
        aspect-ratio: 3/2;
        position: absolute;
        overflow: visible;
        border-radius: 30px;
        opacity: 0;
        filter: blur(0);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
        transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
        will-change: transform opacity;
    }

    .card[data-index="1"] {
        opacity: 0;
        transform: translateX(200%) scale(0.6);
        transition: all 0.01s cubic-bezier(0.39, 0.575, 0.565, 1);
        -webkit-filter: blur(0px);
    }

    .card[data-index="2"] {
        display: flex;
        opacity: 1;
        transform: translateX(100%) scale(0.8);
        -webkit-filter: blur(1px);
    }

    .card[data-index="3"] {
        opacity: 1;
        transform: translateX(0px) scale(1);
        -webkit-filter: blur(0px);
    }

    .card[data-index="4"] {
        opacity: 1;
        transform: translateX(-100%) scale(0.8);
        -webkit-filter: blur(1px);
    }

    .card[data-index="5"] {
        opacity: 0;
        transform: translateX(-200%) scale(0.8);
        -webkit-filter: blur(15px);
    }
}

@media only screen and (min-width: 400px) {
    .services-section-block .arrows-wrapper {
        display: flex;
    }
}