@media only screen and (min-width: 0px) {
    .s{
        background-color: white;
        display:flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        row-gap: 50px;
        border-radius: 60px;
        padding:20px;
        width:70vw;
        height:40vh;
        position:relative;
        top:-10vh;
        left:10vw;
    }
    
    .serv h4{
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .carousel-container{
        display:flex;
flex-direction: row;
    }
    .carousel-item img{
        width:100px;
        border:1px solid black;
    }

    .carousel{
        display:flex;
        align-items: center;
    }

    .carousel-btn img{
        width:50px;
    }
}