---
bannerTitle: Frequenty Asked Questions
bannerText: Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas hic qui fugiat accusamus fuga.
bannerImage: ../assets/img/Illustration.svg
permalink: faq/
language: EN
metaDescription: description goes here
metaCanonical: canonical
metaTitle: Frequently Asked Questions
manifestLanguage: english
---


<!DOCTYPE html>
<html lang="en">
<head>
    {% include "metaTags.html" %}
    {% block pageCSS %}
    <link rel="stylesheet" href="/assets/css/banner/mobile.css" media="screen and (min-width: 0px)" />
    <link rel="stylesheet" href="/assets/css/banner/tablet.css" media="screen and (min-width: 768px)" />
    <link rel="stylesheet" href="/assets/css/banner/desktop.css" media="screen and (min-width: 1024px)" />
    {% endblock %}
    {% include  "prefetch.html"%}
    
</head>
<body>
    {% include "english layouts/navbarEN.html" %}
    {% include "languageSwitch.html" %}
    <main>
        {% include "english layouts/pageBannerEN.html" %}
        <label for="test">
            test:
            <input id="test" type="search">
            <ul id="searchResults">

            </ul>
        </label>
        <script type="module" defer src="/assets/js/searchBar.js"></script>
    </main>
    {% include "english layouts/footerEN.html" %}
</body>
</html>