---
bannerTitle: Βιοδείκτες
bannerText: Μια μικρή σελίδα που παρέχει πληροφορίες για όλους τους σημαντικούς βιοδείκτες που αναλύουμε. Τη λειτουργικότητά τους, τη δομή τους, το πού παράγονται και τις παρενέργειες που μπορεί να έχουν
bannerImage: /assets/img/biomarkers.webp
permalink: /gr/biomarkers/
eleventyNavigation:
   key: BIOMARKERS
   order: 1100
language: GR
metaDescription: Vioexelixi, ένα εργαστήριο στη Λευκωσία που βοηθά με αναλύσεις στα θέματα της αιμοληψίας, της ανοσολογίας και της μικροβιολογίας. Καλέστε μας για να έρθουμε στο σπίτι σας για μια δωρεάν αιμοληψία
metaCanonical: canonical
metaTitle: Βιοδείκτες
manifestLanguage: greek
---

<!DOCTYPE html>
<html lang="el">

<head>
   {% include "metaTags.html" %}
   {% block pageCSS %}
   <link rel="stylesheet" href="/assets/css/banner/mobile.css" media="screen and (min-width: 0px)" />
   <link rel="stylesheet" href="/assets/css/banner/tablet.css" media="screen and (min-width: 768px)" />
   <link rel="stylesheet" href="/assets/css/banner/desktop.css" media="screen and (min-width: 1024px)" />

   <link rel="stylesheet" href="/assets/css/biomarkers/mobile.css" media="screen and (min-width: 0px)" />
   <link rel="stylesheet" href="/assets/css/biomarkers/tablet.css" media="screen and (min-width: 768px)" />
   <link rel="preload" href="/assets/css/biomarkers/desktop.css" media="screen and (min-width: 1024px)" as="style" onload="this.onload=null;this.rel='stylesheet'" />
   <link rel="preload" href="/assets/css/biomarkers/widescreen.css" media="screen and (min-width: 1024px)" as="style" onload="this.onload=null;this.rel='stylesheet'" />

   <link rel="preload" href="/assets/css/contactUsSectionBlock/mobile.css" media="screen and (min-width: 0px)" as="style" onload="this.onload=null;this.rel='stylesheet'" />

   <link rel="stylesheet" href="/assets/css/biomarkers-alphabetical-buttons/mobile.css" media="screen and (min-width: 0px)" />
   <link rel="stylesheet" href="/assets/css/biomarkers-alphabetical-buttons/tablet.css" media="screen and (min-width: 600px)" />
   <link rel="stylesheet" href="/assets/css/biomarkers-alphabetical-buttons/desktop.css" media="screen and (min-width: 1024px)" />

   <link rel="stylesheet" href="/assets/css/fonts/services.css" media="none" onload="if(media!=='all')media='all'">

   
   {% endblock %}
   {% include "prefetch.html" %}
</head>

<body>
   {% include "greek layouts/navbarGR.html" %}
   {% include "languageSwitch.html" %}
   <main>
      {% include "greek layouts/pageBannerGR.html" %}

      {% if collections.biomarkersGR | length != 0 %}
         <div id="sorting-buttons">
            <div class="container">
               <div class="wrapper">
                  <div class="span-wrapper">
                     <span class="trigger-letters-list">Ταξινόμηση</span>
                  </div>
                  <div class="buttons-container">
                     <button class="active" data-button="button" data-lettersort="All">A-Ω</button>
                     {% set lettersList = [] %}
   
                     
   
                     {% for biomarker in collections.biomarkersGR %}
                        {% set processedLetter = biomarker.data.name | first | lower %}
   
                        {% if processedLetter not in lettersList %}
                           {% set lettersList = (lettersList.push(processedLetter), lettersList) %}             
                        {% endif %}
   
                     {% endfor %}
   
                     {% import "greek layouts/biomarkersLettersListGR.html" as buttons %}
                     
                     {{ buttons.buttonActive(lettersList) }}
                  </div>
                  <script>
                     const button = document.querySelector('.trigger-letters-list');
                     const buttonsContainer = document.querySelector('.buttons-container');

                     button.addEventListener('click', () => {
                        buttonsContainer.classList.toggle('open')
                     })
                  </script>
               </div>
               
            </div>
         </div>
      {% endif %}

      <section id="biomarkers">
         <div class="bio">
            {% if collections.biomarkersGR | length == 0%}

               <h1 style="font-size: 3rem; color: #2f6158; margin-top: 2rem; margin-bottom: 10rem; font-weight: 500; text-align: center; line-height: 4rem;">Δεν έχουν προστεθεί βιοδείκτες<br><span style="font-size: 1.5rem; font-weight: 300; color: #101010">Προσθέστε βιοδείκτες για εμφάνιση</span></h1>

            {% else %}

               {% for biomarker in collections.biomarkersGR %}
                  <div class="bio-item hidden" data-letter="{{ biomarker.data.name | first | lower }}">
                     <img src="{{ biomarker.data.pfp }}" decoding="async" loading="lazy" width="100" height="100" alt="Picture of {{ biomarker.data.pfp }}" aria-hidden="true">
                     <span class="biomarker-name" style="font-weight: 500;">{{ biomarker.data.name }}</span>
                     <p>{{ biomarker.data.shortDesc }}</p>
                  </div>
               {% endfor %}

            {% endif %}
         </div>
         <script defer src="/assets/js/biomarkers_alphabetical_sort.js"></script>
      </section>
      {% include "greek layouts/contactusGR.html" %}
      <style>
            @media only screen and (min-width: 768px) {
               .contactusbody {
                  display: none;
               }
            }
      </style>
   </main>

   {% include "greek layouts/footerGR.html" %}

</body>

</html>