<section class="contactusbody">
   <h3>CONTACT US</h3>
   <ul class="option">
       <li>
           <div class="options">
               <i class="fas fa-phone" style="font-size: 30px;"></i>
               <span><b>PHONE</b></span>
               TEL: +357 77777777
           </div>
       </li>
       <li>
           <div class="options">
               <i class="fas fa-envelope" style="font-size: 30px;"></i>
               <span><b>EMAIL</b></span>
               example@email.com
           </div>
       </li>
       <li>
           <div class="options">
               <i class="fas fa-location-dot" style="font-size: 30px;"></i>
               <span><b>LOCATION</b></span>
               Asomatos, Ermou 2, <br>
4645, Limassol
           </div>
       </li>
   </ul>
   <button><a href="#">Get in touch</a></button>
</section>
