<section id="offers">
    <div class="container">
        <div class="content">
            <h2 class="title">O<span id="ff">f</span>fers</h2>
            <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde error eos a explicabo rerum aperiam, veritatis reiciendis minus inventore, modi voluptate voluptatibus consequatur quod incidunt quam cum quasi sint totam.</p>
            <div class="offers-wrapper">
                <div class="layer1 layer">
                    
                </div>
                <div class="layer2 layer">

                </div>
            </div>
        </div>
        <div class="offer-highlighted">
            <img src="/assets/img/offers4.png" alt="">
        </div>
    </div>
</section>