<section id="offers">
    <div class="container">
        <div class="content">
            <h2 class="title">O<span id="ff">f</span>fers</h2>
            <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde error eos a explicabo rerum aperiam, veritatis reiciendis minus inventore, modi voluptate voluptatibus consequatur quod incidunt quam cum quasi sint totam.</p>
            <div class="offers-wrapper">
                <div class="top">
                    <img class="topperimg1" src="/assets/img/offers1.png" alt="">
                    <img class="topperimg2" src="/assets/img/offers2.png" alt="">
                    <img class="topperimg3" src="/assets/img/offers3.png" alt="">
                    <img class="topperimg4" src="/assets/img/offers4.png" alt="">
                </div>
                <div class="bot">
                    <img class="botimg1" src="/assets/img/offers1.png" alt="">
                    <img class="botimg2" src="/assets/img/offers2.png" alt="">
                    <img class="botimg3" src="/assets/img/offers3.png" alt="">
                    <img class="botimg4" src="/assets/img/offers4.png" alt="">
                </div>
            </div>
        </div>
        <div class="offer-highlighted">
            <img src="/assets/img/offers4.png" alt="">
        </div>
    </div>
</section>