<section id="team-members">
    <div class="container">
        <div class="header">
            <h2 class="title">Team Members</h2>
            <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi impedit consequatur id iste dolorum est.</p>
        </div>
        <div class="profile-wrapper">
            <div class="profile">
                <img src="/assets/img/Profile Picture.png" alt="">
                <div class="profile-information">
                    <span class="name">Antwnis Pipetridou</span>
                    <span class="role">Chemist</span>
                </div>
            </div>
            <div class="profile">
                <img src="/assets/img/Profile Picture.png" alt="">
                <div class="profile-information">
                    <span class="name">Antwnis Pipetridou</span>
                    <span class="role">Chemist</span>
                </div>
            </div>
            <div class="profile">
                <img src="/assets/img/Profile Picture.png" alt="">
                <div class="profile-information">
                    <span class="name">Antwnis Pipetridou</span>
                    <span class="role">Chemist</span>
                </div>
            </div>
        </div>
    </div>
</section>