---
bannerTitle: Services
bannerText: We offer blood sampling, immunology and microbiology analysis services
bannerImage: ../assets/img/Illustration.svg
permalink: services/
eleventyNavigation:
    key: SERVICES
    order: 300
language: EN
metaDescription: description goes here
metaCanonical: canonical
metaTitle: Services
manifestLanguage: english
---

<!DOCTYPE html>
<html lang="en">

<head>
   {% include "metaTags.html" %}
   {% block pageCSS %}
   <link rel="stylesheet" href="/assets/css/banner/mobile.css" media="screen and (min-width: 0px)" />
   <link rel="stylesheet" href="/assets/css/banner/tablet.css" media="screen and (min-width: 768px)" />
   <link rel="stylesheet" href="/assets/css/banner/desktop.css" media="screen and (min-width: 1024px)" />

   <link rel="stylesheet" href="/assets/css/servicesPage/mobile.css" media="screen and (min-width: 0px)" />
   <link rel="stylesheet" href="/assets/css/servicesPage/tablet.css" media="screen and (min-width: 768px)" />
   <link rel="stylesheet" href="/assets/css/servicesPage/desktop.css" media="screen and (min-width: 1024px)" />

   <link rel="preload" href="/assets/css/contactUsSectionBlock/mobile.css" media="screen and (min-width: 0px)" as="style" onload="this.onload=null;this.rel='stylesheet'" />

   <link rel="stylesheet" href="/assets/css/fonts/services.css" media="none" onload="if(media!=='all')media='all'">
   {% endblock %}
   {% include "prefetch.html" %}
</head>

<body>
   {% include "english layouts/navbarEN.html" %}
   {% include "languageSwitch.html" %}
   <main>
      {% include "english layouts/pageBannerEN.html" %}
      <section id="services">
         <div class="cards">
            {% if collections.servicesProvidedEN | length == 0 %}

               <h1 style="font-size: 3rem; color: #2f6158; margin-top: 2rem; margin-bottom: 10rem; font-weight: 500; text-align: center; line-height: 4rem;">No Services Added<br><span style="font-size: 1.5rem; font-weight: 300; color: #101010">Please add services to display</span></h1>

            {% else %}

               {% for service in collections.servicesProvidedEN %}
                  <div class="card">
                     <img src="{{ service.data.image }}" alt="{{ service.data.name }}">
                     <h4>{{ service.data.name }}</h4>
                     <p>{{ service.data.shortDesc }}</p>
                  </div>
               {% endfor %}
               
            {% endif %}
         </div>
      </section>

      {% include "english layouts/contactusEN.html" %}
      <style>
         @media only screen and (min-width: 768px) {
               .contactusbody {
                  display: none;
               }
         }
      </style>
   </main>

   {% include "english layouts/footerEN.html" %}

</body>

</html>