@media only screen and (min-width: 0px) {
    .herosection{
        width:100%;
        height: fit-content;
        max-height: 800px;
        position: relative;
    }

    .herosection .container {
        width: 100%;
        height: 600px;
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .herosection .text-content {
        display: block;
        position: relative;
        top: -64px;
        width: 100%;
        max-width: 1280px;
    }

    .herosection img{
        width:102%;
        left: -3px;
        height: 100%;
        position:absolute;
        top:0px;
        object-fit: cover;
        filter: blur(2px) brightness(0.9);
    }

    .herosection h1{
        letter-spacing: -1px;
        color:white;
        font-size: clamp(3rem, 5.3vw, 5rem);
        text-align: center;
        margin-bottom: 24px;

        transform: translateY(250px);
        opacity: 0;
        filter: blur(10px);
        transition: all 1s cubic-bezier(.18,.54,.55,1);
    }

    .herosection .show h1 {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }

    .herosection h2 {
        font-weight: 500;
        color: var(--blue-color-tint-8);
        font-size: clamp(1.2rem, 2.6vw, 2rem);
        width: 100%;
        text-align: center;

        transform: translateY(250px);
        opacity: 0;
        filter: blur(10px);
        transition: all 1s cubic-bezier(.18,.54,.55,1) 0.25s;
    }

    .herosection .show h2 {
        transform: translateY(0px);
        opacity: 1;
        filter: blur(0px);
    }
}