@import url(/assets/css/root.css);

@media only screen and (min-width: 0) {
    #offers {
        position: relative;
        height: 800px;
        display: flex;
        justify-content: center;
        margin-top: 64px;
        margin-bottom: 64px;
        padding-left: 24px;
        padding-right: 24px;
    }
    
    #offers .container {
        width: 100%;
        position: relative;
        max-width: 1024px;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    #offers .content {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #offers .offer-highlighted {
        height: auto;
        width: 92%;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: row;
        max-height: 460px;
        max-width: 460px;
    }
    
    #offers .title {
        margin-top: 32px;
        font-size: 3rem;
        color: var(--blue-color-shade-7);
        letter-spacing: -2px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    #offers #ff {
        letter-spacing: 1px;
    }
    
    #offers .description {
        position: relative;
        font-weight: 500;
        font-size: 1rem;
        color: var(--black-text-color);
        opacity: 0.8;
        width: 100%;
        line-height: 1.3rem;
        margin-top: 24px;
        transition: opacity 0.175s ease-in-out;
        opacity: 1;
        display: flex;
        justify-content: center;
    }
    
    #offers .description.fade {
        opacity: 0;
    }
    
    #offers .offers-wrapper {
        margin-top: 32px;
        display: flex;
        position: relative;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 90%;
        height: 100px;
        max-width: 460px;
    }
    
    #offers .offers-wrapper img {
        width: 100%;
        box-shadow: 0px 0px 5px -1px rgb(29, 29, 29, 0.2);
        filter: contrast(65%);
    }

    #offers .offers-wrapper img:last-child {
        filter: contrast(100%);
    }
    
    #offers .layer {
        display: grid;
        gap: 13px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }
    
    #offers .layer1 {
        position: absolute;
        z-index: 0;
    }
    
    #offers .layer2 {
        position: relative;
        z-index: 0;
    }
    
    #offers .layer.visible {
        opacity: 1;
        z-index: 10;
    }
    
    #offers .offer-highlighted .img {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        width: 100%;
        box-shadow: 0px 0px 5px 0px rgb(29, 29, 29, 0.1);
    }
    
    #offers .offer-highlighted .img1 {
        position: absolute;
    }
    
    #offers .offer-highlighted .img2 {
        position: absolute;
    }
    
    #offers .offer-highlighted .img.visible {
        opacity: 1;
        position: relative;
    }
}