---
bannerTitle: Get in Touch
bannerText: Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas hic qui fugiat accusamus fuga.
bannerImage: /assets/img/Illustration.svg
permalink: contactus/
eleventyNavigation:
    key: CONTACT US
    order: 600
---


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../assets/css/banner.css">
    <link rel="stylesheet" href="../../assets/css/navbar.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <link rel="stylesheet" href="../../assets/css/contactusfullpage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vioexelixi</title>
    <link rel="icon" href="../../assets\img\vioekseliksi-logo.webp" type="image/png" sizes="16x16 32x32">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"rel="stylesheet">
    {% include "prefetch.html" %}
</head>

<body style="background-color: #F7F8FF">
    {% include "english layouts/navbarEN.html" %}
    <main>
        {% include "english layouts/pageBannerEN.html" %}
        <section class="contactusfullpage">
            <div>
            <h1>Book an appoinment</h1>

            <!-- Calendly inline widget begin -->
            <div class="calendly-inline-widget" data-url="https://calendly.com/elenikapona/book-an-appoinment"
                style="min-width:320px;height:800px;"></div>
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
            <!-- Calendly inline widget end -->

            <ul>
                <li>
                    <div class="info_options">
                        <i class="fas fa-phone" style="font-size: 30px;"></i>
                        <span><b>PHONE </b></span>
                        TEL: +357 22 212020
                    </div>
                </li>
                <li>
                    <div class="info_options">
                        <i class="fas fa-envelope" style="font-size: 30px;"></i>
                        <span><b>EMAIL </b></span>
                        example@email.com
                    </div>
                </li>
                <li>
                    <div class="info_options">
                        <i class="fas fa-location-dot" style="font-size: 30px;"></i>
                        <span><b>LOCATION </b></span>
                        Nikolaou Skoufa 1, Egkomi 2415
                    </div>
                </li>
            </ul>
        </div>

            <div class="googlemapspart">
                <h1>Find Us on Google Maps</h1>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3262.049169942403!2d33.313251175519156!3d35.155394458680874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14de1b581eb59253%3A0x4bb8791024e1853!2zzpLOmc6fzpXOns6VzpvOmc6ezpcgzprOm86Zzp3Omc6azp8gzpXOoc6TzpHOo86kzpfOoc6Zzp8!5e0!3m2!1sen!2s!4v1701995890038!5m2!1sen!2s"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>


    </main>

    {% include "english layouts/footerEN.html" %}

</body>

</html>