@media only screen and (min-width: 1024px) {
    #sorting-buttons .buttons-container {
        width: 95%;
        overflow: clip;
        overflow-clip-margin: 0px;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        column-gap: 48px;
        row-gap: 2rem;
        margin-top: 16px;
    }

    #sorting-buttons .buttons-container.open {
        height: 190px;
        overflow-clip-margin: 4px;
    }

    #sorting-buttons .wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #sorting-buttons button {
        height: 2.6rem;
        background-color: var(--blue-color-tint-7);
        border-radius: 12px;
        border: 1px solid gray;
    }

    #sorting-buttons .span-wrapper {
        justify-content: flex-start;
    }
}