.contactusbody{
    background-color:#0B2D39;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:38vh;
    color:white;
    row-gap: 30px;
    padding:80px;
}

.option li:hover {
    transform: scale(1.1);
}

.contactusbody h3{
    font-size: 3rem;
}

li fa{
    color:#85969C;
}

li i{
    background-color: white;
    border-radius: 50%;
    padding:20px;
    margin-bottom: 20px;
    width:30px;
    height:30px;
}
.option {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.option li {
    text-align: center;
    margin: 30px; 
    color:#85969C;
    transition: transform 0.3s ease-in-out;
}

.options span{
    color:white;
    margin-bottom: 5px;
}
.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactusbody button a{
    text-decoration: none;
    color:white;
}
.contactusbody button{
    background-color: #0B2D39;
    border:2px solid white;
    border-radius: 10px;
    padding:10px;
    font-size: 1.8rem;
    width: 30vw;
}


@media only screen and (max-width:  767px) {
    .option {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        list-style: none;
        padding: 0;
    }
    .contactusbody{
        background-color:#0B2D39;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height:80vh;
        color:white;
        margin-top:10px;
    }

    .contactusbody h3{
        font-size: 1.5rem;
    }
    
    .contactusbody button{
        border-radius: 10px;
        padding:10px;
        font-size: 1.1rem;
        width:30vw;
    }
}

@media only screen and (min-width:768px) and (max-width: 1023px){
    .option {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        list-style: none;
        padding: 0;
    }
    .contactusbody{
        background-color:#0B2D39;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height:50vh;
        color:white;
        margin-top:10px;
    }

    .contactusbody h3{
        font-size: 2rem;
    }
    
    .contactusbody button{
        border-radius: 10px;
        padding:20px;
        font-size: 1.5rem;
        width:30vw;
    }
}