/* ======================= Global Profiles ====================== */
:root {
    --black-text-color: #101010;
    --primary-blue-color: #2596BE;
    --blue-color-shade-1: #2187ab;
    --blue-color-shade-2: #1e7898;
    --blue-color-shade-3: #1a6985;
    --blue-color-shade-4: #165a72;
    --blue-color-shade-5: #134b5f;
    --blue-color-shade-6: #0f3c4c;
    --blue-color-shade-7: #0b2d39;
    --blue-color-shade-8: #071e26;
    --blue-color-shade-9: #040f13;
    --blue-color-tint-1: #3ba1c5;
    --blue-color-tint-2: #51abcb;
    --blue-color-tint-3: #66b6d2;
    --blue-color-tint-4: #7cc0d8;
    --blue-color-tint-5: #92cbdf;
    --blue-color-tint-6: #a8d5e5;
    --blue-color-tint-7: #bee0ec;
    --blue-color-tint-8: #d3eaf2;
    --blue-color-tint-9: #e9f5f9;
    --secondary-green-color: #438A7E;
    --green-color-shade-1: #3c7c71;
    --green-color-shade-2: #366e65;
    --green-color-shade-3: #2f6158;
    --green-color-shade-4: #28534c;
    --green-color-shade-5: #22453f;
    --green-color-shade-6: #1b3732;
    --green-color-shade-7: #142926;
    --green-color-shade-8: #0d1c19;
    --green-color-shade-9: #070e0d;
    --green-color-tint-1: #56968b;
    --green-color-tint-2: #69a198;
    --green-color-tint-3: #7bada5;
    --green-color-tint-4: #8eb9b2;
    --green-color-tint-5: #a1c5bf;
    --green-color-tint-6: #b4d0cb;
    --green-color-tint-7: #c7dcd8;
    --green-color-tint-8: #d9e8e5;
    --green-color-tint-9: #ecf3f2;
    --body-background-color: #F7F8FF;
}
/* ======================= Global Profiles ====================== */