.herosection{
    width:100%;
}

.herosection img{
    width:100%;
}

.herosection h1{
    position:absolute;
    color:white;
    font-size: 5.3vw;
    top:20vh;
    left:9.7vw;
    padding:30px;
}

.herosection h2{
    position:absolute;
    color:white;
    top:35vh;
    padding:30px;
    left:9.7vw;
    font-size: 1.5vw;
}