/* ======================= Global Profiles ====================== */
:root {
    --black-text-color: #101010;
    --primary-blue-color: #2596BE;
    --blue-color-shade-1: #2187ab;
    --blue-color-shade-2: #1e7898;
    --blue-color-shade-3: #1a6985;
    --blue-color-shade-4: #165a72;
    --blue-color-shade-5: #134b5f;
    --blue-color-shade-6: #0f3c4c;
    --blue-color-shade-7: #0b2d39;
    --blue-color-shade-8: #071e26;
    --blue-color-shade-9: #040f13;
    --blue-color-tint-1: #3ba1c5;
    --blue-color-tint-2: #51abcb;
    --blue-color-tint-3: #66b6d2;
    --blue-color-tint-4: #7cc0d8;
    --blue-color-tint-5: #92cbdf;
    --blue-color-tint-6: #a8d5e5;
    --blue-color-tint-7: #bee0ec;
    --blue-color-tint-8: #d3eaf2;
    --blue-color-tint-9: #e9f5f9;
    --secondary-green-color: #438A7E;
    --green-color-shade-1: #3c7c71;
    --green-color-shade-2: #366e65;
    --green-color-shade-3: #2f6158;
    --green-color-shade-4: #28534c;
    --green-color-shade-5: #22453f;
    --green-color-shade-6: #1b3732;
    --green-color-shade-7: #142926;
    --green-color-shade-8: #0d1c19;
    --green-color-shade-9: #070e0d;
    --green-color-tint-1: #56968b;
    --green-color-tint-2: #69a198;
    --green-color-tint-3: #7bada5;
    --green-color-tint-4: #8eb9b2;
    --green-color-tint-5: #a1c5bf;
    --green-color-tint-6: #b4d0cb;
    --green-color-tint-7: #c7dcd8;
    --green-color-tint-8: #d9e8e5;
    --green-color-tint-9: #ecf3f2;
    --body-background-color: #F7F8FF;
}
/* ======================= Global Profiles ====================== */


@media only screen and (min-width: 0) and (max-width: 767px) {
    #offers {
        position: relative;
        height: 800px;
        display: flex;
        justify-content: center;
        margin-top: 64px;
        margin-bottom: 64px;
        padding-left: 24px;
        padding-right: 24px;
    }
    
    #offers .container {
        width: 100%;
        position: relative;
        max-width: 1024px;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: green;
        align-items: center;
    }
    
    #offers .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #offers .offer-highlighted {
        width: 100%;
        height: 100%;
    }
    
    #offers .title {
        font-size: 3rem;
        color: var(--blue-color-shade-7);
        letter-spacing: -2px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    #offers #ff {
        letter-spacing: 1px;
    }
    
    #offers .description {
        position: relative;
        font-weight: 500;
        font-size: 1rem;
        color: var(--black-text-color);
        opacity: 0.8;
        width: 100%;
        line-height: 1.3rem;
        margin-top: 32px;
        transition: opacity 0.175s ease-in-out;
        opacity: 1;
        display: flex;
        justify-content: center;
    }
    
    #offers .description.fade {
        opacity: 0;
    }
    
    #offers .offer-highlighted {
        width: 90%;
        bottom: 35%;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: row;
        max-height: 460px;
        max-width: 460px;
    }
    
    #offers .offers-wrapper {
        top: 120%;
        display: flex;
        position: relative;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 90%;
        height: 100px;
        max-width: 460px;
    }
    
    #offers .offers-wrapper img {
        width: 100%;
    }
    
    #offers .layer {
        display: grid;
        gap: 13px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }
    
    #offers .layer1 {
        position: absolute;
        background-color: green;
        z-index: 0;
    }
    
    #offers .layer2 {
        position: relative;
        background-color: red;
        z-index: 0;
    }
    
    #offers .layer.visible {
        opacity: 1;
        z-index: 10;
    }
    
    #offers .offer-highlighted .img {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    #offers .offer-highlighted .img1 {
        position: relative;
        width: 100%;
    }
    
    #offers .offer-highlighted .img2 {
        position: absolute;
        width: 100%;
    }
    
    #offers .offer-highlighted .img.visible {
        opacity: 1;
    }
}

@media only screen and (min-width: 768px) {
    #offers {
        width: 100%;
        position: relative;
        height: 468px;
        display: flex;
        justify-content: center;
        margin-top: 64px;
        margin-bottom: 64px;
        background-color: green;
    }
    
    #offers .container {
        width: 100%;
        max-width: 1024px;
        height: 100%;
        padding-left: 24px;
        padding-right: 24px;
        display: flex;
        flex-direction: row;
    }
    
    #offers .content {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    #offers .offer-highlighted {
        width: 50%;
        height: 100%;
    }
    
    #offers .title {
        font-size: 3rem;
        color: var(--blue-color-shade-7);
        letter-spacing: -2px;
        font-weight: 700;
    }
    
    #offers #ff {
        letter-spacing: 1px;
    }
    
    #offers .description {
        font-weight: 500;
        font-size: 1rem;
        color: var(--black-text-color);
        opacity: 0.8;
        width: 55ch;
        line-height: 1.3rem;
        margin-top: 32px;
        transition: opacity 0.175s ease-in-out;
        opacity: 1;
    }
    
    #offers .description.fade {
        opacity: 0;
    }
    
    #offers .offer-highlighted {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
    }
    
    #offers .offers-wrapper {
        margin-top: 96px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 94%;
    }
    
    #offers .offers-wrapper img {
        width: 110px;
        height: 110px;
    }
    
    #offers .layer {
        display: flex;
        gap: 13px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    #offers .layer1 {
        position: absolute;
        background-color: green;
        z-index: 0;
    }
    
    #offers .layer2 {
        position: relative;
        background-color: red;
        z-index: 0;
    }
    
    #offers .layer.visible {
        opacity: 1;
        z-index: 10;
    }
    
    #offers .offer-highlighted .img {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    #offers .offer-highlighted .img1 {
        position: relative;
    }
    
    #offers .offer-highlighted .img2 {
        position: absolute;
        width: 100%;
    
    }
    
    #offers .offer-highlighted .img.visible {
        opacity: 1;
    }
}

@media only screen and (min-width: 1024px) {

}