@import url(/assets/css/root.css);

@media only screen and (min-width: 0px) {
    #services {
        display: flex;
        width:100%;
        justify-content: center;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 50px;
        padding: 50px 0px;
    }
    
    .card {
        background-color: white;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        width: 80%;
        height: 250px;
        text-align: center;
        padding:20px;
    }
    
    .card img {
        background-color: #2596BE;
        border-radius: 50%;
        width: 97px;
        height: 97px;
        color:white;
    }

}

@media only screen and (min-width: 768px) {
    
    .cards {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(3, minmax(150px, 3fr));
        justify-content: center;
        max-width: 1280px;
        padding-left: 24px;
        padding-right: 24px;
    }
    
    .card {
        row-gap: 20px;
        width: auto;
        height: 300px;
        padding:20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 4fr));
        align-items: center;
        justify-content: center;
        flex-direction: row;
        column-gap: 40px;
        padding: 100px 0;
        max-width: 1280px;
        width: 95%;
    }
    
    .card {
        row-gap: 20px;
        width: auto;
        height: 300px;
    }
}

