.s{
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding:10px;
    border-radius: 80px;
    width:60vw;
    height:30ch;
    position:relative;
    top:-150px;
    left:350px;
}
