/* ======================= Global Settings ====================== */
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* ======================= Global Profiles ====================== */

/* ======================= Global Profiles ====================== */
:root {
    --black-text-color: #101010;
    --primary-blue-color: #2596BE;
    --blue-color-shade-1: #2187ab;
    --blue-color-shade-2: #1e7898;
    --blue-color-shade-3: #1a6985;
    --blue-color-shade-4: #165a72;
    --blue-color-shade-5: #134b5f;
    --blue-color-shade-6: #0f3c4c;
    --blue-color-shade-7: #0b2d39;
    --blue-color-shade-8: #071e26;
    --blue-color-shade-9: #040f13;
    --blue-color-tint-1: #3ba1c5;
    --blue-color-tint-2: #51abcb;
    --blue-color-tint-3: #66b6d2;
    --blue-color-tint-4: #7cc0d8;
    --blue-color-tint-5: #92cbdf;
    --blue-color-tint-6: #a8d5e5;
    --blue-color-tint-7: #bee0ec;
    --blue-color-tint-8: #d3eaf2;
    --blue-color-tint-9: #e9f5f9;
    --secondary-green-color: #438A7E;
    --green-color-shade-1: #3c7c71;
    --green-color-shade-2: #366e65;
    --green-color-shade-3: #2f6158;
    --green-color-shade-4: #28534c;
    --green-color-shade-5: #22453f;
    --green-color-shade-6: #1b3732;
    --green-color-shade-7: #142926;
    --green-color-shade-8: #0d1c19;
    --green-color-shade-9: #070e0d;
    --green-color-tint-1: #56968b;
    --green-color-tint-2: #69a198;
    --green-color-tint-3: #7bada5;
    --green-color-tint-4: #8eb9b2;
    --green-color-tint-5: #a1c5bf;
    --green-color-tint-6: #b4d0cb;
    --green-color-tint-7: #c7dcd8;
    --green-color-tint-8: #d9e8e5;
    --green-color-tint-9: #ecf3f2;
    --body-background-color: #F7F8FF;
}
/* ======================= Global Profiles ====================== */



.contactusbody{
    background-color:#0B2D39;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:38vh;
    color:white;
    row-gap: 30px;
    padding:80px;
}

.option li:hover {
    transform: scale(1.1);
}

.contactusbody h3{
    font-size: 3rem;
}

li fa{
    color:#85969C;
}

li i{
    background-color: white;
    border-radius: 50%;
    padding:20px;
    margin-bottom: 20px;
    width:30px;
    height:30px;
}
.option {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.option li {
    text-align: center;
    margin: 30px; 
    color:#85969C;
    transition: transform 0.3s ease-in-out;
}

.options span{
    color:white;
    margin-bottom: 5px;
}
.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactusbody button a{
    text-decoration: none;
    color:white;
}
.contactusbody button{
    background-color: #0B2D39;
    border:2px solid white;
    border-radius: 10px;
    padding:10px;
    font-size: 1.8rem;
    width: 30vw;
}


@media only screen and (max-width: 480px) {
    .option {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        list-style: none;
        padding: 0;
    }
    .contactusbody{
        background-color:#0B2D39;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height:80vh;
        color:white;
        margin-top:10px;
    }

    .contactusbody h3{
        font-size: 1.5rem;
    }
    
    .contactusbody button{
        border-radius: 10px;
        padding:10px;
        font-size: 1.1rem;
        width:30vw;
    }
}