/* ======================= Global Settings ====================== */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* ======================= Global Profiles ====================== */

/* ======================= Global Profiles ====================== */
:root {
    --black-text-color: #101010;
    --primary-blue-color: #2596BE;
    --blue-color-shade-1: #2187ab;
    --blue-color-shade-2: #1e7898;
    --blue-color-shade-3: #1a6985;
    --blue-color-shade-4: #165a72;
    --blue-color-shade-5: #134b5f;
    --blue-color-shade-6: #0f3c4c;
    --blue-color-shade-7: #0b2d39;
    --blue-color-shade-8: #071e26;
    --blue-color-shade-9: #040f13;
    --blue-color-tint-1: #3ba1c5;
    --blue-color-tint-2: #51abcb;
    --blue-color-tint-3: #66b6d2;
    --blue-color-tint-4: #7cc0d8;
    --blue-color-tint-5: #92cbdf;
    --blue-color-tint-6: #a8d5e5;
    --blue-color-tint-7: #bee0ec;
    --blue-color-tint-8: #d3eaf2;
    --blue-color-tint-9: #e9f5f9;
    --secondary-green-color: #438A7E;
    --green-color-shade-1: #3c7c71;
    --green-color-shade-2: #366e65;
    --green-color-shade-3: #2f6158;
    --green-color-shade-4: #28534c;
    --green-color-shade-5: #22453f;
    --green-color-shade-6: #1b3732;
    --green-color-shade-7: #142926;
    --green-color-shade-8: #0d1c19;
    --green-color-shade-9: #070e0d;
    --green-color-tint-1: #56968b;
    --green-color-tint-2: #69a198;
    --green-color-tint-3: #7bada5;
    --green-color-tint-4: #8eb9b2;
    --green-color-tint-5: #a1c5bf;
    --green-color-tint-6: #b4d0cb;
    --green-color-tint-7: #c7dcd8;
    --green-color-tint-8: #d9e8e5;
    --green-color-tint-9: #ecf3f2;
    --body-background-color: #F7F8FF;
}
/* ======================= Global Profiles ====================== */

@media screen and (min-width: 0px) {
    #faq {
        min-height: 700px;
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    #faq .container {
        width: 100%;
        max-width: 1024px;
        height: max-content;
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
        flex-direction: column;
    }
    
    #faq .question-mark-container {
        display: flex;
        position: relative;
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: center;
    }

    #faq .question-mark-container .blob1 {
        width: 80px;
        height: 80px;
        margin-top: -20%;
        position: relative;
        transform: translate(0%,15%);
        background-color: hsl(120, 100%, 25%);
        filter: blur(40px) saturate(2);
        border-radius: 50px;
        animation: blobMovement 20s linear 0s infinite alternate;
    }

    #faq #blob-container {
        display: none;
        position: absolute;
        z-index: -1;
        width: 100%;
        left: 38%;
    }

    #faq .question-mark-container img {
        aspect-ratio: 7/8;
        width: 50%;
        position: relative;
        backdrop-filter: hue-rotate(20deg) blur(50px) saturate(5);
        clip-path: url(#myClip);
    }
    
    #faq .questions-container {
        display: flex;
        width: 100%;
        height: max-content;
        flex-direction: column;
        margin-bottom: 32px;
    }
    
    #faq .title {
        font-size: clamp(2.5rem, 4vw, 3rem);
        text-align: center;
        color: var(--blue-color-shade-7);
        font-weight: 600;
        margin-bottom: 6rem;
        margin-top: 28px;
        letter-spacing: -1.5px;
    }
    
    #faq .question-wrapper {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 0.5rem;
        width: calc(100% - 32px);
        height: fit-content;
        margin-bottom: 3rem;
    }
    
    #faq .question-wrapper::before {
        display: flex;
        content: '';
        width: calc(100% + 32px);
        margin-bottom: calc(-2rem - 16px);
        height: 2px;
        margin-left: -16px;
        background-color: lightgray;
        position: relative;
    }
    
    #faq .question {
        font-size: 1rem;
        font-weight: 600;
        color: rgba(0,0,0,0.8);
        letter-spacing: 1px;
        transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    
    #faq .answer-reveal .question {
        color: var(--secondary-green-color);
    }
    
    #faq .answer {
        margin-top: -0.6rem;
        padding-top: 1.5rem;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: -16px;
        color: rgb(68, 68, 68);
        width: 100%;
        padding-bottom: 2rem;
        background-color: #F1F2FA;
        display: none;
        font-weight: 400;
    }
    
    #faq .answer-reveal .answer {
        display: flex;
    }
    
    #faq .question-container {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    #faq .question-syringe {
        height: 1.5rem;
        width: 1.5rem;
        fill: var(--primary-blue-color);
    }
    
    #faq .question-svg-icon {
        height: 1.4rem;
        width: 1.4rem;
    }
    
    #faq .question-svg-icon #layer1 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #path1049 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #path1051 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #path1053 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #path1055 {
        transition: all 0.25s linear;
    }
    
    #faq .question-svg-icon #path1059 {
        transition: all 0.25s linear;
    }
    
    #faq .question-svg-icon #path1061 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #path1063 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #path1065 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #path1067 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #path1069 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #path1065 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #square3 {
        transition: fill 0.25s linear, x 0.25s linear, y 0.25s linear;
    }
    
    #faq .question-svg-icon #square2 {
        transition: fill 0.25s linear, x 0.25s linear, y 0.25s linear;
    }
    
    #faq .question-svg-icon #square1 {
        transition: fill 0.25s linear, x 0.25s linear, y 0.25s linear;
    }
    
    #faq .question-svg-icon #measurement1 {
        transition: fill 0.25s linear;
    }
    
    #faq .question-svg-icon #measurement2 {
        transition: fill 0.25s linear;
    }
    
    #faq .answer-reveal .question-svg-icon #layer1 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1049 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1051 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1053 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1055 {
        transform: translate(3px,3px);
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1059 {
        transform: translate(3px,3px);
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1061 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1063 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1065 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1067 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1069 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #path1065 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #square3 {
        x: 176px;
        y: 0px;
        fill: #ffffff !important;
    }
    
    #faq .answer-reveal .question-svg-icon #square2 {
        x: 176px;
        y: -20px;
        fill: #ffffff !important;
    }
    
    #faq .answer-reveal .question-svg-icon #square1 {
        x: 175px;
        fill: #ffffff !important;
    }
    
    #faq .answer-reveal .question-svg-icon #circle {
        animation: circleAnimation 0.25s linear 0s 1 normal both;
    }
    
    @keyframes circleAnimation {
        0%{ transform: translate(0,0); }
        100%{ transform: translate(-41px,42px); }
    }
    
    #faq .answer-reveal .question-svg-icon #measurement1 {
        fill: #438A7E !important;
    }
    
    #faq .answer-reveal .question-svg-icon #measurement2 {
        fill: #438A7E !important;
    }
}

@media screen and (min-width: 768px) {
    #faq {
        margin-top: 128px;
        min-height: 700px;
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #faq #blob-container {
        display: flex;
    }

    @keyframes blobMovement {
        0% {
            background-color: hsl(115, 100%, 25%);
            transform: rotate(0deg) translate(-80%,-90%);
            backdrop-filter: saturate(5);
        }
        5% {
            transform: translate(-68%,-100%);
        }
        10% {
            background-color: hsl(100, 100%, 25%);
            transform: translate(-50%,-110%);
        }
        15% {
            transform: translate(-45%,-110%);
        }
        20% {
            background-color: hsl(90, 100%, 25%);
            transform: translate(-35%,-115%);
        }
        25% {
            transform: translate(-10%,-115%);
        }
        30% {
            background-color: hsl(90, 100%, 25%);
            transform: translate(-5%,-120%);
        }
        35% {
            transform: translate(45%,-120%);
        }
        40% {
            background-color: hsl(100, 100%, 25%);
            transform: translate(60%,-110%);
        }
        45% {
            transform: translate(70%,-90%);
        }
        50% {
            background-color: hsl(115, 100%, 25%);
            transform: translate(90%,-40%);
            backdrop-filter: saturate(8);
        }
        55% {
            transform: translate(90%,0%);
        }
        60% {
            background-color: hsl(130, 100%, 25%);
            transform: translate(70%,10%);
        }
        70% {
            background-color: hsl(140, 100%, 25%);
            transform: translate(60%,15%);
        }
        75% {
            transform: translate(55%,20%);
        }
        80% {
            background-color: hsl(140, 100%, 25%);
            transform: translate(50%,60%);
        }
        90% {
            background-color: hsl(130, 100%, 25%);
            transform: translate(10%,70%);
        }
        100% {
            background-color: hsl(115, 100%, 25%);
            transform: rotate(360deg) translate(0%,80%);
            backdrop-filter: saturate(5);
        }
    }
    
    #faq .container {
        width: 100%;
        max-width: 1024px;
        height: 100%;
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
        flex-direction: row;
    }
    
    #faq .question-mark-container {
        display: flex;
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    #faq .question-mark-container img {
        width: 80%;
        height: auto;
        min-width: 355px;
        min-height: 450px;
        max-height: 700px;
    }
    
    #faq .questions-container {
        display: flex;
        width: 50%;
        height: 100%;
        flex-direction: column;
    }
    
    #faq .title {
        font-size: 3rem;
        text-align: center;
        color: var(--blue-color-shade-8);
        font-weight: 600;
        margin-bottom: 64px;
        margin-top: 28px;
    }
    
    #faq .answer {
        margin-top: -0.6rem;
        padding-top: 1.5rem;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: -16px;
        color: rgb(68, 68, 68);
        width: 100%;
        padding-bottom: 2rem;
        background-color: #F1F2FA;
        display: none;
    }
}