/* ======================= Global Settings ====================== */
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* ======================= Global Profiles ====================== */

/* ======================= Global Profiles ====================== */
:root {
    --black-text-color: #101010;
    --primary-blue-color: #2596BE;
    --blue-color-shade-1: #2187ab;
    --blue-color-shade-2: #1e7898;
    --blue-color-shade-3: #1a6985;
    --blue-color-shade-4: #165a72;
    --blue-color-shade-5: #134b5f;
    --blue-color-shade-6: #0f3c4c;
    --blue-color-shade-7: #0b2d39;
    --blue-color-shade-8: #071e26;
    --blue-color-shade-9: #040f13;
    --blue-color-tint-1: #3ba1c5;
    --blue-color-tint-2: #51abcb;
    --blue-color-tint-3: #66b6d2;
    --blue-color-tint-4: #7cc0d8;
    --blue-color-tint-5: #92cbdf;
    --blue-color-tint-6: #a8d5e5;
    --blue-color-tint-7: #bee0ec;
    --blue-color-tint-8: #d3eaf2;
    --blue-color-tint-9: #e9f5f9;
    --secondary-green-color: #438A7E;
    --green-color-shade-1: #3c7c71;
    --green-color-shade-2: #366e65;
    --green-color-shade-3: #2f6158;
    --green-color-shade-4: #28534c;
    --green-color-shade-5: #22453f;
    --green-color-shade-6: #1b3732;
    --green-color-shade-7: #142926;
    --green-color-shade-8: #0d1c19;
    --green-color-shade-9: #070e0d;
    --green-color-tint-1: #56968b;
    --green-color-tint-2: #69a198;
    --green-color-tint-3: #7bada5;
    --green-color-tint-4: #8eb9b2;
    --green-color-tint-5: #a1c5bf;
    --green-color-tint-6: #b4d0cb;
    --green-color-tint-7: #c7dcd8;
    --green-color-tint-8: #d9e8e5;
    --green-color-tint-9: #ecf3f2;
    --body-background-color: #F7F8FF;
}
/* ======================= Global Profiles ====================== */


@media only screen and (min-width: 0px) {
    footer {
        height: fit-content;
        width: 100%;
        background-color: var(--blue-color-shade-8);
        display: flex;
        justify-content: center;
        position: relative;
        z-index: -1;
    }

    footer .container {
        width: 100%;
        height: 100%;
        max-width: 1024px;
        padding-left: 16px;
        padding-right: 16px;
    }

    footer .content-container {
        width: 100%;
        height: 80%;
        margin-top: 48px;
        display: flex;
        flex-direction: column;
    }

    footer .misc-container {
        width: 100%;
        height: 10.6%;
    }

    footer .logo-wrapper img {
        height: 81px;
        width: auto;
    }

    footer .logo-wrapper {
        margin-bottom: 64px;
    }

    footer .links-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(50px, 1fr));
        gap: 26px;
        max-width: 100%;
    }

    footer .listing-wrappers {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 64px;
    }

    footer .listing-wrappers:first-child {
        margin-right: -20px;
    }

    footer .listing-wrappers ul {
        list-style: none;
        margin-top: 32px;
        align-items: flex-end;
    }

    footer .footer-links li {
        margin-bottom: 16px;
    }

    footer .footer-links li:hover a {
        text-decoration: underline;
    }

    footer .footer-links li:active a {
        color: var(--green-color-tint-4);
    }

    footer .footer-links li a {
        color: #cdcdcd;
        text-decoration: none;
        font-size: 1rem;
    }

    footer .title {
        color: white;
        font-weight: 600;
        font-size: 1.25rem;
        display: flex;
        flex-direction: row;
    }

    footer .title::after {
        content: '';
        position: absolute;
        margin-top: 36px;
        width: 50px;
        height: 2px;
        background-color: var(--green-color-tint-1);
    }

    footer .misc-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 16px;
    }

    footer .misc-container small {
        margin-bottom: 4px;
        color: #8f8f8f;
        font-size: 0.75rem;
    }

    footer .misc-container small a {
        color: inherit;
        text-decoration: underline;
    }

    footer .misc-container small a:hover {
        color: var(--blue-color-tint-3);
    }

    footer #assets-used a:hover {
        color: white;
    }
}

@media only screen and (min-width: 600px) {
    footer .links-container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        gap: 26px;
        justify-items: end;
    }
}

@media only screen and (min-width: 768px) {
    footer {
        height: 512px;
    }

    footer .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    footer .content-container {
        flex-direction: row;
    }

    footer .logo-wrapper {
        width: 30%;
    }

    footer .links-container {
        width: 70%;
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        padding-right: 16px;
    }

    footer .listing-wrappers {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    footer .footer-links li {
        text-align: right;
        margin-bottom: 0.5rem;
    }

    footer .title {
        flex-direction: row-reverse;
    }

    footer .misc-container {
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row;
    }
}