.s{
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding:10px;
    border-radius: 80px;
    width:60vw;
    height:25vh;
    position:relative;
    top:-16.4vh;
    left:18.2vw;
}
