.s{
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    column-gap: 50px;
    border-radius: 60px;
    padding-left:150px;
    padding-right:150px;
    width:45vw;
    height:30vh;
    position:relative;
    top:-20vh;
    left:20vw;
}

.serv{
    width:30%;
    row-gap: 40px;
}

.serv h4{
    font-size: 2rem;
    margin-bottom: 20px;
}

.carousel-container{
    width:70%;
}
