---
preloadCSS: '/assets/css/blog.css'
eleventyComputed:
    title: '{{ title }}'
    description: '{{ description }}'
    permalink: '/blogs/{{ title | slug }}/index.html'
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "metaTags.html" %}
        
        {% block pageCSS %}
        <link rel="stylesheet" href="/assets/css/blogPostPage/mobile.css" media="screen and (min-width: 0px)">
        <link rel="stylesheet" href="/assets/css/blogPostPage/tablet.css" media="screen and (min-width: 768px)">
        {% endblock %}
        
        {% include "prefetch.html" %}
    </head>
    <body style="background-color: #F7F8FF">
        {% include "english layouts/navbarEN.html" %}
        <main id="main">
            <section id="content-page-849">
                <div class="cs-container">
                    <div class="cs-content">
                        <h1 class="cs-title">{{ title }}</h1>
                        <p>
                            {{ bodyEN }}
                        </p>
                    </div>
                    <div class="cs-image-group">
                        <!--Top Picture-->
                        <picture class="cs-picture">
                            <img decoding="async" src="{{ thumbnail }}" alt="person" width="542" height="520" aria-hidden="true">
                        </picture>
                    </div>
                </div>
            </section>
                            
        </main>
        {% include "english layouts/footerEN.html" %}
    </body>
</html>