@media only screen and (min-width: 64rem) {
    #blog-1347 .cs-container {
        max-width: 80rem;
    }
    #blog-1347 .cs-item {
        grid-column: span 4;
    }
    #blog-1347 .cs-bubbles {
        top: 17.5625rem;
    }
}