---
bannerTitle: Services
bannerText: Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas hic qui fugiat accusamus fuga.
bannerImage: ../assets/img/Illustration.svg
---

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../assets/css/banner.css">
   <link rel="stylesheet" href="../assets/css/navbar.css">
   <link rel="stylesheet" href="../assets/css/footer.css">
   <link rel="stylesheet" href="../assets/css/servicessfull.css">
   <title>Biomarkers</title>
</head>

<body style="background-color: #F7F8FF">
   {% include layouts/navbarEN.html %}
   <main>
      {% include layouts/pageBannerEN.html %}
<section id="services">
      <div class="cards">
         <div class="card">
            <img src="public/assets/img/full-syringe.svg" alt="Syringe Image">
            <h4>Bioximeia</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
               hic qui fugiat accusamus fuga.</p>
         </div>
         <div class="card">
            <img src="public/assets/img/full-syringe.svg" alt="Syringe Image">
            <h4>Aimatologia</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
               hic qui fugiat accusamus fuga.</p>
         </div>
         <div class="card">
            <img src="public/assets/img/full-syringe.svg" alt="Syringe Image">
            <h4>Anosologia</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
               hic qui fugiat accusamus fuga.</p>
         </div>
         <div class="card">
            <img src="public/assets/img/full-syringe.svg" alt="Syringe Image">
            <h4>Mikroviologia</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
               hic qui fugiat accusamus fuga.</p>
         </div>


      </div>
   </section>
   </main>

   {% include layouts/footerEN.html %}

</body>

</html>