@media only screen and (min-width: 1024px) {
    .contactusfullpage ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        flex-direction: row;
        column-gap: 60px;
    }
}