@media only screen and (min-width: 0px) {
    .contactusfullpage {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 100px 0px 0px 0px;
    }

    #calendly {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 48px;
    }

    #calendly .loading {
        position: absolute;
        font-size: 2rem;
        font-weight: 700;
        color: var(--black-text-color);
    }

    #calendly .loading::after {
        content: '';
        animation: loading 4s ease 0s infinite;
    }

    @keyframes loading {
        0% {
            content: '.';
        }
        25% {
            content: '..';
        }
        50% {
            content: '...';
        }
        75% {
            content: '....';
        }
        100% {
            content: '.....';
        }
    }

    .contactusfullpage h1 {
        text-align: center;
        color: var(--blue-color-shade-7);
        font-size: clamp(2.5rem, 4vw, 3rem);
        font-weight: 600;
        letter-spacing: -1px;
    }

    .calendly-inline-widget{
        width:80%;
        margin: auto;
    }

    .contactusfullpage ul {
        display: flex;
        list-style-type: none;
        flex-direction: column;
        row-gap: 20px;
    }

    .info_options {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: #0b2d39;
        column-gap: 20px;
        padding: 20px 40px;
    }

    .googlemapspart {
        text-align: center;
        width: 100%;
    }

    .googlemapspart .title {
        padding: 48px 0px;
        background-color: var(--blue-color-shade-7);
        color: white;
    }

    .googlemapspart iframe {
        height: 450px;
    }
}