@media only screen and (min-width: 1024px) {
    .herosection img{
        width:100%;
        position:relative;      
        height:600px;
    }

    .herosection h1{
        font-size: 5.3vw;
        top:15vh;
        left:7.8vw;
    }
    .herosection h2{
        top:35vh;
        left:7.8vw;
        font-size: 1rem;
    }
}