@media only screen and (min-width: 768px) {
    .herosection h1{
        text-align: left;
        margin-bottom: 0px;
    }

    .herosection .text-content {
        padding-left: 24px;
    }

    .herosection h2 {
        width: 75%;
        max-width: 600px;
        padding: 0px;
        text-align: left;
    }
}