---
bannerTitle: Biomarkers
bannerText: Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas hic qui fugiat accusamus fuga.
bannerImage: ../assets/img/Illustration.svg
permalink: biomarkers/
eleventyNavigation:
    key: BIOMARKERS
    order: 500
language: EN
metaDescription: description goes here
metaCanonical: canonical
metaTitle: Biomarkers
manifestLanguage: english
---

<!DOCTYPE html>
<html lang="en">

<head>
   {% include "metaTags.html" %}
   {% block pageCSS %}
   <link rel="stylesheet" href="/assets/css/banner/mobile.css" media="screen and (min-width: 0px)" />
   <link rel="stylesheet" href="/assets/css/banner/tablet.css" media="screen and (min-width: 768px)" />
   <link rel="stylesheet" href="/assets/css/banner/desktop.css" media="screen and (min-width: 1024px)" />

   <link rel="stylesheet" href="/assets/css/biomarkers/mobile.css" media="screen and (min-width: 0px)" />
   <link rel="stylesheet" href="/assets/css/biomarkers/tablet.css" media="screen and (min-width: 768px)" />
   <link rel="preload" href="/assets/css/biomarkers/desktop.css" media="screen and (min-width: 1024px)" as="style" onload="this.onload=null;this.rel='stylesheet'" />
   <link rel="preload" href="/assets/css/biomarkers/widescreen.css" media="screen and (min-width: 1024px)" as="style" onload="this.onload=null;this.rel='stylesheet'" />
   {% endblock %}
   {% include "prefetch.html" %}
</head>

<body>
   {% include "english layouts/navbarEN.html" %}
   {% include "languageSwitch.html" %}
   <main>
      {% include "english layouts/pageBannerEN.html" %}
      <section id="biomarkers">
            <div class="bio">
               {% if collections.biomarkersEN | length == 0%}

                  <h1 style="font-size: 3rem; color: #2f6158; margin-top: 2rem; margin-bottom: 10rem; font-weight: 500; text-align: center; line-height: 4rem;">No Biomarkers Added<br><span style="font-size: 1.5rem; font-weight: 300; color: #101010">Please add biomarkers to display</span></h1>

               {% else %}

                  {% for biomarker in collections.biomarkersEN %}
                     <div class="bio-item">
                        <img src="{{ biomarker.data.pfp }}" decoding="async" loading="lazy" width="100" height="100" alt="Picture of {{ biomarker.data.pfp }}" aria-hidden="true">
                        <span style="font-weight: 500;">{{ biomarker.data.name }}</span>
                        <p>{{ biomarker.data.shortDesc }}</p>
                     </div>
                  {% endfor %}

               {% endif %}
         </div>
         </section>
   </main>

   {% include "english layouts/footerEN.html" %}

</body>

</html>