@media only screen and (min-width: 48rem) {
    #content-page-849 .cs-container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    #content-page-849 .cs-content {
        flex: none;
        width: 60%;
    }
    #content-page-849 .cs-image-group {
        display: flex;
    }
}