@media only screen and (min-width: 768px) {
    .cards {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(3, minmax(150px, 3fr));
        justify-content: center;
        max-width: 1280px;
        padding-left: 24px;
        padding-right: 24px;
    }
    
    .card {
        row-gap: 20px;
        width: auto;
        height: 300px;
        padding:20px;
    }
}