---
bannerTitle: Biomarkers
bannerText: Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas hic qui fugiat accusamus fuga.
bannerImage: ../assets/img/Illustration.svg
---

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../assets/css/banner.css">
   <link rel="stylesheet" href="../assets/css/navbar.css">
   <link rel="stylesheet" href="../assets/css/footer.css">
   <link rel="stylesheet" href="../assets/css/biomarkers.css">
   <title>Biomarkers</title>
</head>

<body style="background-color: #F7F8FF">
   {% include "layouts/navbarEN.html" %}
   <main>
      {% include "layouts/pageBannerEN.html" %}
<section id="biomarkers">
      <div class="bio">
         <div class="bio-item">
            <img src="public/assets/img/full-syringe.svg" alt="Syringe Image">
            <h4>Biomarker 1</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
               hic qui fugiat accusamus fuga.</p>
         </div>
         <div class="bio-item">
            <img src="public/assets/img/full-syringe.svg" alt="Syringe Image">
            <h4>Biomarker 2</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
               hic qui fugiat accusamus fuga.</p>
         </div>
         <div class="bio-item">
            <img src="public/assets/img/full-syringe.svg" alt="Syringe Image">
            <h4>Biomarker 3</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
               hic qui fugiat accusamus fuga.</p>
         </div>
         <div class="bio-item">
            <img src="public/assets/img/full-syringe.svg" alt="Syringe Image">
            <h4>Biomarker 4</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
               hic qui fugiat accusamus fuga.</p>
         </div>

      </div>

      <div class="bio">
        <div class="bio-item">
           <img src="public/assets/img/full-syringe.svg" alt="Syringe Image">
           <h4>Biomarker 5</h4>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
              hic qui fugiat accusamus fuga.</p>
        </div>
        <div class="bio-item">
           <img src="public/assets/img/full-syringe.svg" alt="Syringe Image">
           <h4>Biomarker 6</h4>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
              hic qui fugiat accusamus fuga.</p>
        </div>
        <div class="bio-item">
           <img src="public/assets/img/full-syringe.svg" alt="Syringe Image">
           <h4>Biomarker 7</h4>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
              hic qui fugiat accusamus fuga.</p>
        </div>
        <div class="bio-item">
           <img src="public/assets/img/full-syringe.svg" alt="Syringe Image">
           <h4>Biomarker 8</h4>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
              hic qui fugiat accusamus fuga.</p>
        </div>

     </div>

     <div class="bio">
        <div class="bio-item">
           <img src="public/assets/img/full-syringe.svg" alt="Syringe Image">
           <h4>Biomarker 9</h4>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
              hic qui fugiat accusamus fuga.</p>
        </div>
        <div class="bio-item">
           <img src="public/assets/img/full-syringe.svg" alt="Syringe Image">
           <h4>Biomarker 10</h4>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
              hic qui fugiat accusamus fuga.</p>
        </div>
        <div class="bio-item">
           <img src="public/assets/img/full-syringe.svg" alt="Syringe Image">
           <h4>Biomarker 11</h4>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
              hic qui fugiat accusamus fuga.</p>
        </div>
        <div class="bio-item">
           <img src="public/assets/img/full-syringe.svg" alt="Syringe Image">
           <h4>Biomarker 12</h4>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
              hic qui fugiat accusamus fuga.</p>
        </div>

     </div>
   </section>
   </main>

   {% include "layouts/footerEN.html" %}

</body>

</html>