<div class="services-section-block hidden">
    <div class="container">
        <div class="text-content">
            <h2>SERVICES</h2>
            <span>We offer a variety of services, including these few</span>
        </div>
    
        <div class="carousel-container">
            <div class="arrows-wrapper">
                <img src="/assets/img/leftarrow.png" alt="" class="left-arrow">
                <img src="/assets/img/rightarrow.png" alt="" class="right-arrow">
            </div>
            <div class="carousel-wrapper">
                {% set loopIteration = 0 %}

                {% for service in collections.servicesProvidedEN %}
                    <div class="card" data-index="{{ loopIteration }}">
                        <img src="{{ service.data.image }}" alt="offer card">
                        <span>{{ service.data.name }}</span>
                    </div>
                    {% set loopIteration = loopIteration + 1 %}
                {% endfor %}
                
                {% for service in collections.servicesProvidedEN %}
                    <div class="card" data-index="{{ loopIteration }}">
                        <img src="{{ service.data.image }}" alt="offer card">
                        <span>{{ service.data.name }}</span>
                    </div>
                    {% set loopIteration = loopIteration + 1 %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script defer src="/assets/js/carousel.js"></script>