<section id="team-members">
    <div class="container">
        <div class="header">
            <h2 class="title">Team Members</h2>
            <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi impedit consequatur id iste dolorum est.</p>
        </div>
        <div class="profile-wrapper">
            {% if collections.teamMembersEN | length == 0 %}

                <h1 style="font-size: 3rem; color: #2f6158; margin-top: 2rem; margin-bottom: 10rem; font-weight: 500; text-align: center; line-height: 4rem;">No Members to Show<br><span style="font-size: 1.5rem; font-weight: 300; color: #101010">Please add members to display</span></h1>

            {% else %}

                {% for person in collections.teamMembersEN %}
                    <div class="profile">
                        <img src="{{ person.data.pfp }}" alt="">
                        <div class="profile-information">
                            <span class="name">{{ person.data.name }}</span>
                            <span class="role">{{ person.data.title }}</span>
                        </div>
                    </div>
                {% endfor %}
                
            {% endif %}
        </div>
    </div>
</section>