---
bannerTitle: Meet The Team
bannerText: Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas hicqui fugiat accusamus fuga.
bannerImage: ../assets/img/Illustration.svg
permalink: aboutus/
eleventyNavigation:
    key: ABOUT US
    order: 200
language: EN
metaDescription: description goes here
metaCanonical: canonical
metaTitle: About Us
manifestLanguage: english
---

<!DOCTYPE html>
<html lang="{{ language }}">

<head>
   {% include "metaTags.html" %}
   {% block pageCSS %}
   <link rel="stylesheet" href="/assets/css/banner/mobile.css" media="screen and (min-width: 0px)" />
   <link rel="stylesheet" href="/assets/css/banner/tablet.css" media="screen and (min-width: 768px)" />
   <link rel="preload" href="/assets/css/banner/desktop.css" media="screen and (min-width: 1024px)" as="style" onload="this.onload=null;this.rel='stylesheet'" />

   <link rel="stylesheet" href="/assets/css/teamMembers/mobile.css" media="screen and (min-width: 0px)" />
   <link rel="preload" href="/assets/css/teamMembers/tablet.css" media="screen and (min-width: 768px)" />
   
   <link rel="preload" href="/assets/css/aboutus/mobile.css" media="screen and (min-width: 0px)" as="style" onload="this.onload=null;this.rel='stylesheet'" />
   <link rel="preload" href="/assets/css/aboutus/tablet.css" media="screen and (min-width: 768px)" as="style" onload="this.onload=null;this.rel='stylesheet'" />
   <link rel="preload" href="/assets/css/aboutus/desktop.css" media="screen and (min-width: 1024px)" as="style" onload="this.onload=null;this.rel='stylesheet'" />
   <link rel="preload" href="/assets/css/aboutus/widescreen.css" media="screen and (min-width: 1280px)" as="style" onload="this.onload=null;this.rel='stylesheet'" />

   <link rel="preload" href="/assets/css/contactUsSectionBlock/mobile.css" media="screen and (min-width: 0px)" as="style" onload="this.onload=null;this.rel='stylesheet'" />

   <link rel="stylesheet" href="/assets/css/fonts/aboutUs.css" media="none" onload="if(media!=='all')media='all'">
   
   <script src="/assets/js/hyphens.js" async></script>
   <script type="text/javascript">
      Hyphenator.config({
         useCSS3hyphenation: true
      });
      Hyphenator.run();
   </script>
   {% endblock %}

   {% include "prefetch.html" %}
</head>

<body>
   {% include "english layouts/navbarEN.html" %}
   {% include "languageSwitch.html" %}
   <main>
      {% include "english layouts/pageBannerEN.html" %}
      {% include "english layouts/teammembersEN.html" %}

      <section id="members">
         <div class="container">
            <h1 class="hidden">More About Each Member</h1>
            
            {% if collections.teamMembersEN | length == 0 %}

            <h1 style="font-size: 3rem; color: #2f6158; margin-top: 2rem; margin-bottom: 10rem; font-weight: 500; text-align: center; line-height: 4rem;">No Members to Show<br><span style="font-size: 1.5rem; font-weight: 300; color: #101010">Please add members to display their Biography</span></h1>

            {% else %}
            <div class="grid_wrapper">

               {% for person in collections.teamMembersEN %}
               <div class="about_the_member hidden">
                  <img src="{{ person.data.pfp }}" loading="lazy" decoding="async">
                  <div class="moreabout">
                     <h2>{{ person.data.name }}</h2>
                     <p>{{ person.content | safe}}</p>
                  </div>
               </div>
               {% endfor %}

            </div>
            {% endif %}
         </div>
      </section>


      <section id="company">
         <div class="container">
            <h1 class="hidden">Our Story</h1>

            <div class="wrapper">
               <div class="about_the_company hidden">
                  <p class="hyphenate">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore eos amet veniam praesentium ex ab, quaerat ratione, dolorum provident tenetur voluptatum hic quam autem explicabo velit ipsa maxime cumque quis.</p>
                  <picture>
                     <img src="/assets/img/Illustration.svg" aria-hidden="true" focusable="false" loading="lazy" decoding="async">
                  </picture>
               </div>
               <div class="about_the_company hidden">
                  <picture>
                     <img src="/assets/img/Illustration.svg" aria-hidden="true" focusable="false" loading="lazy" decoding="async">
                  </picture>
                  <p class="hyphenate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero placeat nihil quam ratione adipisci suscipit exercitationem ullam officia vitae dignissimos, impedit nemo similique soluta dolores cupiditate. Voluptas qui blanditiis optio?</p>
               </div>
               <div class="about_the_company hidden">
                  <p class="hyphenate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus consequuntur veniam, quae perspiciatis et fugit deleniti. Alias vel error aut excepturi, dolores obcaecati consectetur qui voluptatem totam voluptas inventore. Eligendi!</p>
                  <picture>
                     <img src="/assets/img/Illustration.svg" aria-hidden="true" focusable="false" loading="lazy" decoding="async">
                  </picture>
               </div>
            </div>
         </div>
      </section>
      {% include "english layouts/contactusEN.html" %}
      <style>
         @media only screen and (min-width: 768px) {
               .contactusbody {
                  display: none;
               }
         }
      </style>
   </main>

   {% include "english layouts/footerEN.html" %}

</body>

</html>