---
bannerTitle: Meet The Team
bannerText: Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas hicqui fugiat accusamus fuga.
bannerImage: ../assets/img/Illustration.svg
permalink: aboutus/
eleventyNavigation:
    key: ABOUT US
    order: 200
---

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Vioexelixi">
   <meta name="language" content="EN">
   <!-- <link rel="alternate" href="https://www.vioexelixi.com"> -->
   <link rel="stylesheet" href="../assets/css/banner.css">
   <link rel="stylesheet" href="../assets/css/navbar.css">
   <link rel="stylesheet" href="../assets/css/footer.css">
   <link rel="stylesheet" href="../assets/css/teammembers.css">
   <link rel="stylesheet" href="../assets/css/aboutUs.css">
   <link rel="icon" type="image/webp" href="assets/img/vioekseliksi-logo.webp">
   <link rel="icon" href="assets\img\vioekseliksi-logo.webp" type="image/png" sizes="16x16 32x32">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   <title>About Us</title>
   {% include "prefetch.html" %}
</head>

<body style="background-color: #F7F8FF">
   {% include "english layouts/navbarEN.html" %}
   <main>
      {% include "english layouts/pageBannerEN.html" %}
      {% include "english layouts/teammembersEN.html" %}

      <section id="members">
         <h1>More About Each Member</h1>
         {% if collections.teamMembersEN | length == 0 %}

            <h1 style="font-size: 3rem; color: #2f6158; margin-top: 2rem; margin-bottom: 10rem; font-weight: 500; text-align: center; line-height: 4rem;">No Members to Show<br><span style="font-size: 1.5rem; font-weight: 300; color: #101010">Please add members to display their Biography</span></h1>

         {% else %}

            {% for person in collections.teamMembersEN %}
               <div class="about_the_member">
                  <img src="{{ person.data.pfp }}">
                  <div class="moreabout">
                     <h2>{{ person.data.name }}</h2>
                     <p>{{ person.content | safe}}</p>
                  </div>
               </div>
            {% endfor %}
            
         {% endif %}
      </section>


      <section id="company">
         <h1>More About The Company</h1>
         <div class="about_the_company">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
                  hicqui fugiat accusamus fuga.Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus
                  saepe rerum dolorem sit voluptas hicqui fugiat accusamus fuga.</p>
            <img src="..\assets\img\illustration.svg">
         </div>
         <div class="about_the_company">
            <img src="..\assets\img\illustration.svg">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
                  hicqui fugiat accusamus fuga.Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus
                  saepe rerum dolorem sit voluptas hicqui fugiat accusamus fuga.</p>
         </div>
         <div class="about_the_company">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
                  hicqui fugiat accusamus fuga.Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus
                  saepe rerum dolorem sit voluptas hicqui fugiat accusamus fuga.</p>
            <img src="..\assets\img\illustration.svg">
         </div>
      </section>
      <section id="company2">
         <h1>More About The Company</h1>
         <div class="about_the_company">
            <img src="..\assets\img\illustration.svg">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
                  hicqui fugiat accusamus fuga.Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus
                  saepe rerum dolorem sit voluptas hicqui fugiat accusamus fuga.</p>
            
         </div>
         <div class="about_the_company">
            <img src="..\assets\img\illustration.svg">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
                  hicqui fugiat accusamus fuga.Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus
                  saepe rerum dolorem sit voluptas hicqui fugiat accusamus fuga.</p>
         </div>
         <div class="about_the_company">
            <img src="..\assets\img\illustration.svg">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus saepe rerum dolorem sit voluptas
                  hicqui fugiat accusamus fuga.Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus
                  saepe rerum dolorem sit voluptas hicqui fugiat accusamus fuga.</p>
            
         </div>
      </section>
   </main>

   {% include "english layouts/footerEN.html" %}

</body>

</html>