@media only screen and (min-width: 0px) {
    .contactusbody {
        background-color: var(--blue-color-shade-7);
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .contactusbody .container {
        width: 100%;
        max-width: 1024px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        margin: 64px 0px;
        padding: 0px 32px;
    }

    .contactusbody .option li {
        text-align: center;
        color:#85969C;
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 48px;
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .contactusbody .option a {
        text-decoration: none;
        color: #85969C;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contactusbody .option span {
        font-size: clamp(1.2rem, 3vw, 1.25rem);
        color: white;
        letter-spacing: 1px;
    }

    .contactusbody .option li .icon-wrapper {
        background-color: white;
        border-radius: 50%;
        padding: 20px;
        margin-bottom: 8px;
        width: 54px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .contactusbody .option svg {
        scale: 1;
        fill: #85969C;
    }

    .contactusbody .option li:last-child svg {
        scale: 0.8;
    }

    .contactusbody .info-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .contactusbody .button {
        margin-top: 24px;
        width: 100%;
        max-width: 600px;
        background-color: #0B2D39;
        border:2px solid white;
        border-radius: 10px;
        padding:10px;
        font-size: 2rem;
        text-align: center;
        text-decoration: none;
        color: white;
        transition: all 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .contactusbody .button:hover {
        background-color: white;
        color: #0B2D39;
    }

    .contactusbody .button:active {
        background-color: white;
        color: #0B2D39;
    }

    .contactusbody h3 {
        display: none;
    }
}

