@media only screen and (min-width: 768px) {
    .contactusbody .info-wrapper {
        flex-direction: column;
    }

    .contactusbody .option li .icon-wrapper {
        margin-bottom: 20px;
        width:30px;
        height:30px;
    }

    .contactusbody .option li .fas {
        transform: scale(0.6);
        transition: all 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .contactusbody .option {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        list-style: none;
        padding: 0;
        gap: 24px;
    }

    .contactusbody .option li {
        margin: 30px; 
    }

    .contactusbody .option li a {
        font-size: 1rem;
    }

    .contactusbody h3 {
        text-align: center;
        font-size: clamp(2rem, 6vw, 3rem);
        color: white;
        margin-top: -16px;
        display: block;
    }

    .contactusbody .button {
        font-size: 1.8rem;
    }

    .contactusbody .option span {
        margin-bottom: 8px;
    }

    .option li:hover .fas {
        transform: scale(0.7);
    }
}