---
bannerTitle: Αναλυτές
bannerText: Όλα τα μηχανήματα που χρησιμοποιούμε παρατίθενται εδώ, εξηγώντας τα εν συντομία.
bannerImage: /assets/img/analyzers.webp
permalink: /gr/analyzers/
eleventyNavigation:
    key: ANALYZERS
    order: 1000
language: GR
metaDescription: Vioexelixi, ένα εργαστήριο στη Λευκωσία που βοηθά με αναλύσεις στα θέματα της αιμοληψίας, της ανοσολογίας και της μικροβιολογίας. Καλέστε μας για να έρθουμε στο σπίτι σας για μια δωρεάν αιμοληψία
metaCanonical: canonical
metaTitle: Αναλυτές
manifestLanguage: greek
---


<!DOCTYPE html>
<html lang="el">
    <head>
        {% include "metaTags.html" %}
        {% block pageCSS %}
        <link rel="stylesheet" href="/assets/css/banner/mobile.css" media="screen and (min-width: 0px)" />
        <link rel="stylesheet" href="/assets/css/banner/tablet.css" media="screen and (min-width: 768px)" />
        <link rel="stylesheet" href="/assets/css/banner/desktop.css" media="screen and (min-width: 1024px)" />

        <link rel="stylesheet" href="/assets/css/analyzers/mobile.css" media="screen and (min-width: 0px)" />
        <link rel="stylesheet" href="/assets/css/analyzers/tablet.css" media="screen and (min-width: 768px)" />
        <link rel="preload" href="/assets/css/analyzers/desktop.css" media="screen and (min-width: 1024px)" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
        <link rel="preload" href="/assets/css/analyzers/widescreen.css" media="screen and (min-width: 81.25rem)" as="style" onload="this.onload=null;this.rel='stylesheet'"/>

        <link rel="preload" href="/assets/css/contactUsSectionBlock/mobile.css" media="screen and (min-width: 0px)" as="style" onload="this.onload=null;this.rel='stylesheet'" />

        <link rel="stylesheet" href="/assets/css/fonts/services.css" media="none" onload="if(media!=='all')media='all'">
        {% endblock %}
        {% include "prefetch.html" %}
    </head>
    <body>
        {% include "greek layouts/navbarGR.html" %}
        {% include "languageSwitch.html" %}
        <main>
            {% include "greek layouts/pageBannerGR.html" %}
            <section id="blog-1347">
                <div class="cs-container">
                    <div class="cs-content">
                        <h2 class="cs-title">           </h2>
                        <p class="cs-text">          </p>
                    </div>
                    {% if collections.post | length == 0 %}
                        <h1 style="font-size: 3rem; color: #2f6158; margin-top: 2rem; margin-bottom: 10rem; font-weight: 500; text-align: center; line-height: 4rem;">Δεν έχουν προστεθεί στοιχεία<br><span style="font-size: 1.5rem; font-weight: 300; color: #101010">Προσθέστε στοιχεία για να τα εμφανίσετε</span></h1>
                    {% else %}
                    <ul class="cs-card-group">           
                            {%- for post in collections.post | reverse -%}
                                <li class="cs-item">
                                    <article>
                                        <a class="cs-link" href="{{ post.url }}">
                                            <picture class="cs-picture">
                                                <img loading="lazy" decoding="async"
                                                    src="{{ post.data.thumbnail}}"
                                                    alt="agency" width="413" height="374" aria-hidden="true">
                                            </picture>
                                            <div class="cs-item-text">
                                                <h3 class="cs-h3">
                                                    {{ post.data.title }}
                                                    <picture class="cs-icon-wrapper">
                                                        <img class="cs-icon" loading="lazy" decoding="async"
                                                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                                                alt="arrow" width="413" height="374" aria-hidden="true">
                                                    </picture>
                                                </h3>
                                                <div class="cs-info">
                                                    <span class="cs-date">
                                                        
                                                        <img class="cs-date-icon" loading="lazy" decoding="async"
                                                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-calendar.svg"
                                                                alt="calendar" width="413" height="374" aria-hidden="true">
                                                                {{ post.date | postDate }}
                                                    </span>
                                                    <span class="cs-category">
                                                        
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                            {%- endfor -%}
                        {% endif %}
                    </ul>
                </div>
                <div class="cs-bubbles" aria-hidden="true"></div>
            </section>
            {% include "greek layouts/contactusGR.html" %}
            <style>
                @media only screen and (min-width: 768px) {
                    .contactusbody {
                        display: none;
                    }
                }
            </style>
        </main>
        {% include "greek layouts/footerGR.html" %}
    </body>
</html>