---
bannerTitle: Επικοινωνήστε μαζί μας
bannerText: Ελάτε να μιλήσετε μαζί μας! Απλά κλείστε μια συνάντηση μέσω αυτής της σελίδας σε όποια ώρα θέλετε, ή εναλλακτικά τηλεφωνήστε μας για να κανονίσουμε μια επίσκεψη στο σπίτι ή μια εργαστηριακή εξέταση.
bannerImage: /assets/img/contact-us.webp
permalink: /gr/contactus/
eleventyNavigation:
    key: CONTACT US
    order: 1200
language: GR
metaDescription: Vioexelixi, ένα εργαστήριο στη Λευκωσία που βοηθά με αναλύσεις στα θέματα της αιμοληψίας, της ανοσολογίας και της μικροβιολογίας. Καλέστε μας για να έρθουμε στο σπίτι σας για μια δωρεάν αιμοληψία
metaCanonical: canonical
metaTitle: Επικοινωνία
manifestLanguage: greek
---


<!DOCTYPE html>
<html lang="el">

<head>
    {% include "metaTags.html" %}
    {% block pageCSS %}
    <link rel="stylesheet" href="/assets/css/banner/mobile.css" media="screen and (min-width: 0px)" />
    <link rel="stylesheet" href="/assets/css/banner/tablet.css" media="screen and (min-width: 768px)" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
    <link rel="stylesheet" href="/assets/css/banner/desktop.css" media="screen and (min-width: 1024px)" as="style" onload="this.onload=null;this.rel='stylesheet'"/>

    <link rel="stylesheet" href="/assets/css/contactUsPage/mobile.css" media="screen and (min-width: 0px)" />
    <link rel="stylesheet" href="/assets/css/contactUsPage/desktop.css" media="screen and (min-width: 1024px)" as="style" onload="this.onload=null;this.rel='stylesheet'"/>

    <link rel="stylesheet" href="/assets/css/contactUsSectionBlock/mobile.css" media="screen and (min-width: 0px)" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="/assets/css/contactUsSectionBlock/tablet-to-desktop.css" media="screen and (min-width: 768px)" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <link rel="stylesheet" href="/assets/css/fonts/contactUs.css" media="none" onload="if(media!=='all')media='all'">
    <style>
        .contactusbody .button {
            display: none;
        }
    </style>
    {% endblock %}
    {% include "prefetch.html" %}
</head>

<body>
    {% include "greek layouts/navbarGR.html" %}
    {% include "languageSwitch.html" %}
    <main>
        {% include "greek layouts/pageBannerGR.html" %}
        <div class="contactusfullpage">
            <section>
                <h1>Ελάτε να μιλήσουμε</h1>
                <div style="width: 100%; display: flex; justify-content: center; margin-bottom: 32px;">
                    <span style="text-align: center; width: 100%; max-width: 50ch; padding: 0px 24px; display: flex; justify-content: center; color: var(--black-text-color); font-size: 1.25rem; margin-top: 16px;">Μπορεί να είναι μια ερώτηση ή μια φιλική επίσκεψη, ό,τι κι αν θέλετε, είμαστε εδώ για εσάς.</span>
                </div>
            </section>
            
            <section id="calendly">
                <span class="loading">Φόρτωση</span>
                <!-- Calendly inline widget begin -->
                <div class="calendly-inline-widget" data-url="https://calendly.com/elenikapona/book-an-appoinment" style="min-width:320px;height:800px;"></div>
                <script>
                    const calendlyWrapper = document.querySelector('#calendly');
                    var s = document.createElement("script");
                    s.type = "text/javascript";
                    s.src = "https://assets.calendly.com/assets/external/widget.js";

                    setTimeout(() => { calendlyWrapper.append(s) }, 100);
                </script>
                <!-- Calendly inline widget end -->
            </section>

            {% include "greek layouts/contactusGR.html" %}

            <section class="googlemapspart">

                <h3 class="title">Βρείτε μας στο Google Maps</h3>
                <iframe title="Google Maps Τοποθεσία"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3262.049169942403!2d33.313251175519156!3d35.155394458680874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14de1b581eb59253%3A0x4bb8791024e1853!2zzpLOmc6fzpXOns6VzpvOmc6ezpcgzprOm86Zzp3Omc6azp8gzpXOoc6TzpHOo86kzpfOoc6Zzp8!5e0!3m2!1sen!2s!4v1701995890038!5m2!1sen!2s"
                    width="100%" height="450" style="border:0; margin-bottom: -4px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>


    </main>

    {% include "greek layouts/footerGR.html" %}

</body>

</html>